<div class="banner-wrap" id="bannerWrap">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      
    </div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>