<!-- 查看图片弹窗 -->
<div class="modal modal-loading" id="modallookImg">
	<div class="modal-content">
		<div class="modal-body lookimg-body">
			<div class="modal-bg close"></div>
			<div class="lookimg-inner close">
				<img src="" alt="" class="lookimg-img" id="popLookImg">
			</div>
		</div>
	</div>
</div>