{% extends "./_njk/base.njk" %}
{% block main %}
<section class="wrap">
	<!-- 页面内容 - 首页 -->
	<div class="wrap_page home_wrap show">
		<div class="bg"></div>
		<!-- 首页主要内容 -->
		<div class="home_content forbid">
			<!-- 转动的圆盘 -->
			<div class="home_disc"></div>
			<!-- 圆盘装饰 -->
			<div class="home_adorn"></div>
			<div class="home_adorn1"></div>
			<!-- 标题文案 -->
			<div class="home_title">
				<!-- 标题中喇叭装饰  -->
				<div class="home_adorn2"></div>
			</div>
			<!-- logo -->
			<div class="logo"></div>
			<!-- 底部人物 -->
			<div class="home_adorn3"></div>
			<!-- 汽车 -->
			<div class="home_car"></div>
			<div class="home_guide">
				<div class="round_wrap">
					<div class="round_item round_1"></div>
					<div class="round_item round_2"></div>
					<div class="round_item round_3"></div>
				</div>
				<div class="hand"></div>
				<div class="text"></div>
			</div>
		</div>
	</div>
	<!-- 歌单页 -->
	<div class="wrap_page list_wrap ">
		<div class="bg"></div>
		<!-- 歌单页主要内容 -->
		<div class="list_content">
			<!-- logo -->
			<div class="logo"></div>
			<!-- 转动的圆盘 -->
			<div class="list_disc">
			</div>
			<!-- 圆盘指针 -->
			<div class="list_adorn1"></div>
			<div class="list_title"></div>
			<div class="list_inner">
				<div class="item">
					<div class="item_data">
						<div class="item_songname font_nscjb">《<span></span>想见你想见你想见你</span>》</div>
						<div class="item_name font_nscjm">八三夭乐团</div>
					</div>
					<div class="item_event">
						<div class="item_btn item_play stop"></div>
						<div class="item_btn item_sing font_nscjb"></div>
					</div>
				</div>
			</div>
			<div class="list_car"></div>
		</div>
	</div>
	<!-- 演唱页 -->
	<div class="wrap_page sing_wrap ">
		<div class="bg"></div>
		<!-- 歌单页主要内容 -->
		<div class="sing_content">
			<!-- logo -->
			<div class="logo"></div>
			<div class="return"></div>
			<!-- 转动的圆盘 -->
			<div class="sing_disc">
			</div>
			<!-- 圆盘指针 -->
			<div class="sing_adorn1"></div>
			<div class="sing_title font_nscjb">《<span class="song_name">那些年</span>》<span class="name">胡夏</span></div>
			<div class="sing_inner">
				<div class="share_block">
					<div class="block block1"></div>
					<div class="block block2"></div>
					<div class="block block3"></div>
					<div class="block block4"></div>
					<div class="block block5"></div>
				</div>
				<div class="sing_lyric font_nscjb">那些年错过的大雨
					那些年错过的爱情
					好想拥抱你
					拥抱错过的勇气
					曾经想征服全世界
					到最后回首才发现
					这些年滴滴点点全部都是你
				</div>
				<div class="sing_hint1"></div>

			</div>
			<!-- 手 -->
			<div class="sing_hand">
				<div class="round_wrap">
					<div class="round_item round_1"></div>
					<div class="round_item round_2"></div>
					<div class="round_item round_3"></div>
				</div>
			</div>
			<div class="sing_time">00:00.00</div>
			<div class="sing_hint">温馨提示：录音时长控制在3～20秒</div>
		</div>
	</div>
	<!-- 分享页 -->
	<div class="wrap_page share_wrap ">
		<div class="bg"></div>
		<div class="return"></div>
		<!-- 首页主要内容 -->
		<div class="share_content">
			<!-- 转动的圆盘 -->
			<div class="share_disc"></div>
			<!-- 圆盘指针 -->
			<div class="share_adorn"></div>
			<!-- 圆盘装饰 -->
			<div class="share_adorn1"></div>
			<div class="share_note">
				<!-- 音符1 -->
				<div class="share_adorn2"></div>
				<!-- 音符2 -->
				<div class="share_adorn3"></div>
				<!-- 音符3 -->
				<div class="share_adorn4"></div>
			</div>
			<!-- logo -->
			<div class="logo"></div>
			<div class="share_inner">
				<div class="share_block">
					<div class="block block1"></div>
					<div class="block block2"></div>
					<div class="block block3"></div>
					<div class="block block4"></div>
					<div class="block block5"></div>
				</div>
				<div class="adorn1"></div>
				<div class="share_title font_nscjb">你的歌声已达到实力歌手
					水准~</div>
				<div class="share_hand"></div>
				<div class="share_title__wrap">
					<div class="share_title__inner">
						<div class="share_label font_nscjb">恭喜您获得【潮奢甜咖】称号</div>
					</div>
				</div>
				<div class="share_text font_nscjm">驾上轿跑般动力的2021款全新MAZDA CX-4，尽享高端体验，你就是真正的无价之姐。</div>
			</div>
			<div class="share_car">
				<img src="./img/share_car2.png" alt="">
			</div>
			<div class="share_event font_nscjb">
				<div class="share_btn share">即刻分享</div>
				<div class="share_btn trial">体验潮奢座驾</div>
			</div>
		</div>
	</div>
	<!-- 表单页 -->
	<div class="wrap_page form_wrap ">
		<div class="bg"></div>
		<div class="return"></div>
		<!-- 歌单页主要内容 -->
		<div class="form_content">
			<!-- logo -->
			<div class="logo"></div>
			<!-- 转动的圆盘 -->
			<div class="form_disc">
			</div>
			<!-- 圆盘指针 -->
			<div class="form_adorn1"></div>
			<div class="form_title font_mtb">2021款
				全新MAZDA CX-4</div>
			<!-- 车 -->
			<div class="form_car"></div>
			<form action="" class="form_list" id="form">
				<!-- 表单 - 姓名 -->
				<div class="form_item form_name">
					<input type="text" id="name" class="name" placeholder="姓名" name="name">
				</div>
				<!-- 表单 - 电话号码 -->
				<div class="form_item form_phone">
					<input type="number" id="phone" class="phone" placeholder="电话号码" name="phone">
				</div>
				<div class="form_group__multi">
					<!-- 表单 - 城市 -->
					<div class="form_item form_region">
						<select class="province" id="province" name="province"></select>
					</div>
					<!-- 表单 - 城市 -->
					<div class="form_item form_region">
						<select class="city" id="city" name="city"></select>
					</div>
				</div>
				<!-- 表单 - 经销商 -->
				<div class="form_item form_region">
					<select class="region" id="region" name="region"></select>
				</div>
				<!-- 按钮 -->
				<div class="form_event font_nscjb">
					<button class="btn form_btn form_get">提交</button>
					<a href="javas:;" class="form_btn form_more">了解更多</a>
				</div>
				<!-- Data: 2020-08-12; Edit: Hani; Describe: 添加隐私说明入口; Start v:1.0.0 -->
				<!-- 隐私说明 -->
				<div class="form_privacy font_nscjb"><a href="JavaScript:;">隐私说明</a></div>
				<!-- Data: 2020-08-12; Edit: Hani; Describe: 添加隐私说明入口; End v:1.0.0 -->
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block javascript %}
<script src="./js/zepto.min.js"></script>
<script src="./js/fx.js"></script>
<script src="./js/data.js"></script>
<script src="./js/index.js"></script>
{% endblock %}