{% extends "./_njk/base.njk" %}
{% block main %}
<section class="wrap">
  <!-- 分享页 -->
  <div class="page page_share">
    <!-- 背景 -->
    <div class="share_bg"></div>
    <!-- 姓名 -->
    <div class="share_name">是觉得可是觉</div>
    <!-- 信内容 -->
    <div class="share_info">大西洋的风轻拂着悬崖壁绚烂之花，像你的手指轻抚过我的双眼和头发头发头发头发头发头发头发头发头发头发头发</div>
    <!-- 关键词 -->
    <div class="share_title">海蓝色的天空</div>
    <!-- 姓名 -->
    <div class="share_name2">是觉得可是觉署名署名</div>
    <!-- 二维码 -->
    <div class="share_code"></div>
  </div>
</section>
{% endblock %}
