{% extends "./_njk/base.njk" %} 

{% block main %}
<section class="wrap">
  <!-- 分享页 -->
  <div class="page_item page_share show">
  <!-- Data: 2021-01-12; Edit: Hani; describe: 修改分享卡片; Start -->
  <div class="page_inner">
    <img src="./img/share_banner.jpg" alt="" class="share_banner">
    <div class="text_wrap">
      <div class="text">海澜之家携手QQ音乐邀你免费听周杰伦 </div>
      <div class="title">周杰伦生日好礼</div>
      <div class="free">免费3天VIP歌曲畅听</div>
    </div>
    <div class="wire">
      <img src="./img/share_wire.png" alt="" class="img_wire">
    </div>
    <div class="base_wrap">
      <div class="logo"><img src="./img/logo.png" alt="" class="img_logo"></div>
      <div class="qrcode"><img src="./img/share_qrcode.png" alt="" class="img_qrcode"></div>
    </div>
  </div>
  <!-- Data: 2021-01-12; Edit: Hani; describe: 修改分享卡片; Start -->
  </div>
</section>
{% endblock %}