
.loading {
  &-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 999;
  }
  &-inner {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    transform: rotate(165deg);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 30px;
      transform: translate(-50%, -50%);
    }
    &:after {
      animation: after 2s infinite;
    }
    &:before {
      animation: before 2s infinite;
    }
  }
  &-body {
    position: relative;
  }
}

@keyframes before {
  0% {
    width: 5px;
    box-shadow: 15px -5px rgba(225, 20, 98, 0.75),
      -15px 5px rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 30px;
    box-shadow: 0 -5px rgba(225, 20, 98, 0.75),
      0 5px rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 5px;
    box-shadow: -15px -5px rgba(225, 20, 98, 0.75),
      15px 5px rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 15px -5px rgba(225, 20, 98, 0.75),
      -15px 5px rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 5px;
    box-shadow: 5px 15px rgba(61, 184, 143, 0.75),
      -5px -15px rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 30px;
    box-shadow: 5px 0 rgba(61, 184, 143, 0.75),
      -5px 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 5px;
    box-shadow: 5px -15px rgba(61, 184, 143, 0.75),
      -5px 15px rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 5px 15px rgba(61, 184, 143, 0.75),
      -5px -15px rgba(233, 169, 32, 0.75);
  }
}
