<!--
 * @Author: Gianni
 * @Date: 2021-09-18 10:06:51
 * @LastEditTime: 2021-09-29 00:38:04
 * @LastEditors: Gianni
 * @Description: *
 * @FilePath: \H5-Project\src\qq_music_bentley_share\index.html
-->
{% extends "./_njk/base.njk" %} {% block main %}
<section class="wrap">
  <!-- 动态图片 - share_wrap_1， share_wrap_2， share_wrap_3， share_wrap_4 对应四个车 -->
  <div class="share_wrap share_wrap_2">
    <div class="share_type">宾利飞驰 V8</div>
    <div class="share_title">声临其境，我心飞驰</div>
    <div class="share_text">Colors</div>
    <div class="share_text2">Christopher von Deylen</div>
    <div class="share_qrcode"><img src="./img/qrcode.jpg" alt="" /></div>
  </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
