{% extends "./_njk/base.njk" %} {% block main %}
<div class="wrap">
  <!-- 开始页 -->
  <div class="page start">
    <img class="bg bg-1" src="./img/bg3_1.jpg" />
    <img class="bg bg-2" src="./img/bg3_2.jpg" />
    <img class="bg bg-3" src="./img/bg3_3.jpg" />
    <div class="page-inner">
      <img class="logo" src="./img/logo.png" />
      <!-- 项目介绍 -->
      <div class="start-desc">
        <div class="start-desc-wrapper">
          <div class="start-desc-list">
            <!-- 项目介绍 -->
            <div class="start-desc-btn start-desc-btn-1"></div>
            <div class="start-desc-btn start-desc-btn-2"></div>
            <!-- 预约试驾 -->
            <div class="start-desc-btn start-desc-btn-3"></div>
          </div>
        </div>
      </div>

      <!-- 阶段三 -->
      <div class="start-activity3">
        <div class="start-activity3-music">
          <div class="start-activity3-music-item">
            <div class="start-activity3-music-avatar"></div>
            <div class="start-activity3-music-prefix"></div>
            <div class="start-activity3-music-name">
              <div class="start-activity3-music-outer">
                <div class="start-activity3-music-inner">
                  音乐作品试听音乐作品试听
                </div>
              </div>
              <span class="start-activity3-music-name-sub">-谭维维</span>
            </div>
            <div class="start-activity3-music-action">
              <!-- active 激活暂停 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-play
                  js-play
                "
                data-music="201342654"
              ></div>
              <!-- active 激活已经收藏 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-favicon
                  js-favorites
                "
              ></div>
            </div>
          </div>
          <div class="start-activity3-music-item">
            <div class="start-activity3-music-avatar"></div>
            <div class="start-activity3-music-prefix"></div>
            <div class="start-activity3-music-name">
              <div class="start-activity3-music-outer">
                <div class="start-activity3-music-inner">音乐作品试听</div>
              </div>
              <span class="start-activity3-music-name-sub">-谭维维</span>
            </div>
            <div class="start-activity3-music-action">
              <!-- active 激活暂停 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-play
                  js-play
                "
                data-music="1287610"
              ></div>
              <!-- active 激活已经收藏 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-favicon
                  js-favorites
                "
              ></div>
            </div>
          </div>
          <div class="start-activity3-music-item">
            <div class="start-activity3-music-avatar"></div>
            <div class="start-activity3-music-prefix"></div>
            <div class="start-activity3-music-name">
              <div class="start-activity3-music-outer">
                <div class="start-activity3-music-inner">
                  音乐作品试听音乐作品试听音乐作品试听
                </div>
              </div>
              <span class="start-activity3-music-name-sub">-谭维</span>
            </div>
            <div class="start-activity3-music-action">
              <!-- active 激活暂停 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-play
                  js-play
                "
                data-music="14053"
              ></div>
              <!-- active 激活已经收藏 -->
              <div
                class="
                  start-activity3-music-icon start-activity3-music-favicon
                  js-favorites
                "
              ></div>
            </div>
          </div>

          <div class="start-activity3-music-item">
            <div class="start-activity3-music-wait">11月18日解锁，敬请期待</div>
          </div>
          <div class="start-activity3-music-item">
            <div class="start-activity3-music-wait">11月19日解锁，敬请期待</div>
          </div>
        </div>
        <div class="start-mv">
          <!-- 显示海报 -->
          <div class="start-mv-img">
            <img src="./img/page_kv.jpg" alt="" />
          </div>
          <div class="start-mv-title">
            主题曲《繁花有因》MV<br />11月23日解锁，敬请期待
          </div>

          <!-- 显示mv -->
          <!-- <video class="start-mv-video">
            <source src="./video/test_video.mp4" type="video/mp4" />
          </video> -->
        </div>
        <div class="start-music">
          <!-- 播放按钮 -->
          <div class="start-music-play"></div>
          <div class="start-music-icon"></div>
        </div>
        <!-- 试听 -->
        <div class="start-activity3-
        start-activity3-try-icon start-activity3-try-icon-1
        js-play
      ">
          <div class="start-activity3-try-item start-activity3-try-item-1">
            <div class="start-activity3-try-content">
              <div class="start-activity3-try-name">
                <div class="start-activity3-try-inner">
                  音乐作品试听音乐作品试听
                </div>
              </div>
              <div class="start-activity3-try-action">
                <div
                  class="
                    start-activity3-try-icon start-activity3-try-icon-1
                    js-play
                  "
                  data-music="14053"
                ></div>
                <div
                  class="
                    start-activity3-try-icon start-activity3-try-icon-2
                    js-favorites
                  "
                ></div>
              </div>
            </div>
            <div class="start-activity3-try-sign"></div>
          </div>
          <div class="start-activity3-try-item start-activity3-try-item-2">
            <div class="start-activity3-try-content">
              <div class="start-activity3-try-name">
                <div class="start-activity3-try-inner">音乐作品试听</div>
              </div>
              <div class="start-activity3-try-action">
                <div
                  class="
                    start-activity3-try-icon start-activity3-try-icon-1
                    js-play
                  "
                  data-music="1287610"
                ></div>
                <div
                  class="
                    start-activity3-try-icon start-activity3-try-icon-2
                    js-favorites
                  "
                ></div>
              </div>
            </div>
            <div class="start-activity3-try-sign"></div>
          </div>
        </div>

        <!-- 换一批 -->
        <div class="start-activity3-replace start-activity3-replace1"></div>

        <!-- 文案 -->
        <div class="start-activity3-comment">
          优质文字展示 优质文字展示 优质文字展示 优质文字展示优质文字展示
          优质文字展示 优质文字展示 优质文字展示优质文字展示 优质文字展示
          优质文字展示 优质文字展示
        </div>

        <!-- 换一批 -->
        <div class="start-activity3-replace"></div>

        <!-- 演出 -->
        <div class="start-activity3-show">
          <div class="start-activity3-show-content">
            <div class="start-activity3-show-title"></div>
            <div class="start-activity3-show-btns">
              <div
                class="start-activity3-show-btn start-activity3-show-btn1"
              ></div>
              <div
                class="start-activity3-show-btn start-activity3-show-btn2"
              ></div>
              <div
                class="start-activity3-show-btn start-activity3-show-btn3"
              ></div>
              <div
                class="start-activity3-show-btn start-activity3-show-btn4"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="start-swiper">
        <div class="start-wrap">
          <div class="start-item">
            <img class="start-item-img" src="./img/start_swiper_1.jpg" alt="" />
            <img class="start-item-img-btn" src="./img/start_ad_btn.png" />
          </div>
          <div class="start-item">
            <img class="start-item-img" src="./img/start_swiper_2.jpg" alt="" />
            <img class="start-item-img-btn" src="./img/start_ad_btn.png" />
          </div>
          <div class="start-item">
            <img class="start-item-img" src="./img/start_swiper_3.jpg" alt="" />
            <img class="start-item-img-btn" src="./img/start_ad_btn.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 项目介绍 -->
  <div class="page project-intro">
    <div class="intro-content">
      <img class="intro-logo" src="./img/logo.png" alt="" />
      <div class="intro-link" href="javascript:void(0)"> </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script src="./js/iSlider.min.js"></script>
<script src="./js/zepto.min.js"></script>
<script src="//y.gtimg.cn/music/h5/player/player.js?max_age=2592000"></script>
<script src="./js/index.js"></script>
{% endblock %}
