<div class="content_list">
  {# 状态二 - 该阶段已结束 #}
  {# <span>انتهت فترة المباراة النهائية </span> #}
  <div class="content_title">المباراة النهائية</div>
  <div class="content_data_list">
    <ul>
      <li>تاريخ</li>
      <li>11PM-10PM</li>
      <li>12PM-11PM</li>
      <li>1AM-12pm</li>
    </ul>
    <ul>
      <li>29 مايو</li>
      <li>مباراة مشاهدين اللعبة</li>
      <li>المباراة الأولى</li>
      <li>المباراة الثانية</li>
    </ul>
    <ul>
      <li>30 مايو</li>
      <li>مباراة مشاهدين اللعبة</li>
      <li>المباراة الثالثة</li>
      <li>المباراة الرابعة</li>
    </ul>
  </div>
  <p>تفاصيل الطواقم المؤهلة للنهائيات اسفله</p>
  <div class="content_member_list">
    <ul>
      <li>طاقم A</li>
      <li>طاقم B</li>
      <li>طاقم C</li>
      <li>طاقم D</li>
    </ul>
    <ul>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
    </ul>
    <ul>
      <li>طاقم E</li>
      <li>طاقم F</li>
      <li>طاقم G</li>
      <li>طاقم H</li>
    </ul>
    <ul>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
    </ul>
    <ul>
      <li>طاقم I</li>
      <li>طاقم J</li>
      <li>طاقم K</li>
      <li>طاقم L</li>
    </ul>
    <ul>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
    </ul>
    <ul>
      <li>طاقم M</li>
      <li>طاقم N</li>
      <li>طاقم O</li>
      <li>طاقم P</li>
    </ul>
    <ul>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
      <li>xxxx</li>
    </ul>
  </div>
  <p>سيتم بث كل المباريات على صفحة المشاهدة </p>
</div>