<div class="content_video">
  {# 状态二 - 该阶段已结束 #}
  {# <span>انتهت فترة التسجيل</span> #}
  <div class="head_video_reg head_video">
    <iframe class="video_frame" width="560" height="315" src="https://www.youtube.com/embed/YShXBs0W8eQ?rel=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>
</div>