<footer class="foot">
	<a href="mailto:pubgmmenacommunity@tencentgames.com" class="foot_mail">pubgmmenacommunity@tencentgames.com</a>
	<p class="foot_btn">
		<a href="//apps.samsung.com/appquery/appDetail.as?appId=com.tencent.ig" class="btn_foot_samsung sp" target="_blank" onclick="gtag('event', 'x_download', {'event_category': 'a20190122clubopenm','event_label': 'm_foot_samsung'});">Download on the samsung Galaxy store</a>
		<a href="//play.google.com/store/apps/details?id=com.tencent.ig&amp;referrer=adjust_reftag%3DcgrmZM8tbnQdT%26utm_source%3Dofficial_website" class="btn_foot_google sp" target="_blank" onclick="gtag('event', 'x_download', {'event_category': 'a20190122clubopenm','event_label': 'm_foot_google'});">get it on google play</a>
		<a href="//itunes.apple.com/app/id1330123889?mt=8" class="btn_foot_ios sp" target="_blank" onclick="gtag('event', 'x_download', {'event_category': 'a20190122clubopenm','event_label': 'm_foot_ios'});">Download on the ios APP store</a>
	</p>
	<p class="foot_logo">
		<img src="./images/footer_LOGO.png" alt="">
	</p>
	<p class="foot_share">
		<a onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_discord'});" href="//discord.gg/pubgm-mena" target="_blank" class="fx_icon2 sp discord_icon"></a>
		<a onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_twitter'});" href="//twitter.com/PUBGMOBILE_ARB" target="_blank" class="foot_twitter sp"></a>
		<a onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_yotube'});" href="//www.youtube.com/channel/UCmeeY9kzNswUpbYyJntb3Aw" target="_blank" class="youtube_icon sp"></a>
		<a onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_facebook'});" href="//www.facebook.com/PUBGMOBILE/" target="_blank" class="foot_face sp"></a>
	</p>
	<p class="foot_copy">
		<a href="/privacy.html" target="_blank" onclick="gtag('event', 'x_jump', {'event_category': 'a20190122clubopenm','event_label': 'm_foot_privacy'});">Privacy Policy</a> 
		<a href="/terms.html" target="_blank" onclick="gtag('event', 'x_jump', {'event_category': 'a20190122clubopenm','event_label': 'm_foot_agreement'});">Tencent Games User Agreement</a>
	</p>
	<p class="foot_copy">Copyright © 2019 PUBG Corporation. All rights reserved.</p>
	<p class="line_t"></p>
</footer>