{% extends "./_njk/base.njk" %}

{% set interactiveList = [
{
id: 0,
img: './img/icon/interactive_icon_0.png',
text: '做兼职'

},{
id: 1,
img: './img/icon/interactive_icon_1.png',
text: '组织一次团体活动'

},{
id: 2,
img: './img/icon/interactive_icon_2.png',
text: '在澡堂放声K歌'

},{
id: 3,
img: './img/icon/interactive_icon_3.png',
text: '在学校论坛发帖'

},{
id: 4,
img: './img/icon/interactive_icon_4.png',
text: '在宿舍偷偷小火锅'

},{
id: 5,
img: './img/icon/interactive_icon_5.png',
text: '在宿舍看线上演唱会'

},{
id: 6,
img: './img/icon/interactive_icon_6.png',
text: '在校园里给游客指路'

},{
id: 7,
img: './img/icon/interactive_icon_7.png',
text: '在食堂吃出虫子'

},{
id: 8,
img: './img/icon/interactive_icon_8.png',
text: '在QQ音乐为爱豆氪金'

},{
id: 9,
img: './img/icon/interactive_icon_9.png',
text: '月底吃土'

},{
id: 10,
img: './img/icon/interactive_icon_10.png',
text: '用学生证薅羊毛'

},{
id: 11,
img: './img/icon/interactive_icon_11.png',
text: '勇敢的去表白'

},{
id: 12,
img: './img/icon/interactive_icon_12.png',
text: '迎新活动帮助学弟学妹'

},{
id: 13,
img: './img/icon/interactive_icon_13.png',
text: '遗失饭卡学生卡'

},{
id: 14,
img: './img/icon/interactive_icon_14.png',
text: '一次有价值的实习'

},{
id: 15,
img: './img/icon/interactive_icon_15.png',
text: '一次说走就走的旅行'

},{
id: 16,
img: './img/icon/interactive_icon_16.png',
text: '学习舍友方言'

},{
id: 17,
img: './img/icon/interactive_icon_17.png',
text: '宿舍一起看球赛'

},{
id: 18,
img: './img/icon/interactive_icon_18.png',
text: '笑到打嗝'

},{
id: 19,
img: './img/icon/interactive_icon_19.png',
text: '享受第二杯半价'

},{
id: 20,
img: './img/icon/interactive_icon_20.png',
text: '献血'

},{
id: 21,
img: './img/icon/interactive_icon_21.png',
text: '喜提奖学金'

}
] %}
{% block main %}
<section class="wrap">
  <div class="share_wrap">
    <div class="share_inner">
      <div class="share_head">
        <div class="share_title__content">
          <!-- 动态数据 - 用户昵称 -->
          <div class="share_name"><span class="share_name__text">孙阳</span></div>
          <!-- 动态数据 - 解锁个数 -->
          <div class="share_number">解锁了<span class="font_fzdinpro share_num">4</span>个姿势</div>
        </div>
        <!-- 动态数据 - 标题 -->
        <div class="share_label"><span class="share_label_title">佛系毕业：</span><span
            class="share_label_text">不争也不抢，低调发着光</span>
          </div>
          <div class="qrcode"><img src="./img/qrcode.jpg" alt=""></div>
      </div>
      <div class="share_content">
        <div class="share_list">
          {% for item in interactiveList %}
          <div class="share_item">
            <div class="item_img__wrap interactive_icon interactive_icon__{{item.id}}">
            </div>
            <div class="item_text">{{item.text}}</div>
          </div>
          {% endfor %}
          <!-- 动态判断添加补布局残缺 -->
          <div class="share_item"></div>
          <div class="share_item"></div>
        </div>
      </div>
      <div class="share_base"></div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="./js/zepto.min.js"></script>
<script src="./js/index.js"></script>
{% endblock %}