<!DOCTYPE html>
<html lang="zh-cn">
<head>
  {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="author" content="Tencent-Music"/>
    <meta name="Copyright" content="Tencent"/>
    <meta name="description" content="{活动名称} - QQ音乐"/>
    <meta name="keywords" content="{活动名称相关的关键字},qq音乐,qqmusic,腾讯,绿钻贵族,特权,等级,绿钻活动,绿钻豪华版,付费,音乐包"/>
    <meta name="applicable-device" content="mobile">
    </title>
  {% endblock %}

  {% block stylesheet %}
    <link rel="stylesheet" href="css/style.min.css">
  {% endblock %}
  {% block adaption %}
    <script src="js/adaptive.js"></script>
    <script>
      window['adaptive'].desinWidth = 750;
      window['adaptive'].maxRate = 0.63;
      window['adaptive'].baseFont = 24;
      window['adaptive'].init();
    </script>
  {% endblock %}
</head>
<body>
  {% block main %}{% endblock %}

  {% block atrTemplte %}{% include "./artTpl.njk"  %}{% endblock %}

  {% block javascript %}{% endblock %}
</body>
</html>