<!-- baseUrl -->
{% set baseUrl = "./img" %}


<div class="title-wrap">
    <div class="title-main">
        <div class="title-heading"><img src="{{baseUrl}}/title_icon.png" alt=""> 产品家族</div>
    </div>
  </div>


<div class="content-wrap animation-box">
  <a href="http://tv.skyworth.com/cn/products/Q80.html" class="wrap-left marginr">
    <img src="{{baseUrl}}/section8_product.jpg" alt="">
  </a>
  <a href="http://tv.skyworth.com/cn/W81.html" class="wrap-left">
    <img src="{{baseUrl}}/section8_product2.jpg" alt="">
  </a>
  <div class="wrap-text">
    <span>
      更多<br>
      Swaiot CENTER新品<br>
      敬请期待
    </span>
  </div>
</div>