<!DOCTYPE html>
<html lang="zh-cn">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <!--关键字和描述一定要写，请保留原来格式，只需要替换{}部分的内容(括号不保留)-->
  <title>fila - QQ音乐</title>
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover,view-port-fit=cover" />
    <!--设置页面不识别数字为手机号码-->
  <meta name="format-detection" content="telephone=no">
  <!--设置编码，解决乱码问题-->
  <meta http-equiv="Content-Language" content="zh-cn" />
  <!--页面版权信息，请保留为以下值-->
  <meta name="author" content="Tencent-Music" />
  <!--页面版权信息，请保留为以下值-->
  <meta name="Copyright" content="Tencent" />
  <meta name="description" content="fila - QQ音乐" />
  <!--关键字和描述一定要写，请保留原来格式，只需要替换{}部分的内容(括号不保留)-->
  <meta name="keywords" content="{活动名称相关的关键字} ,qq音乐,qqmusic,腾讯,绿钻贵族,特权,等级,绿钻活动,绿钻豪华版,付费,音乐包" />
  <!--如果该页面只适合在手机上进行浏览，请添加以下代码-->
  <meta name="applicable-device" content="mobile">
  {% endblock %}

  {% block stylesheet %}
  <link rel="stylesheet" href="css/style.min.css">
  {% endblock %}
</head>

<body>
  {% block main %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>

</html>