{% extends "./_njk/base.njk" %}
{% block main %}
<!-- 首页加载页 -->
<section class="section_home">
  <canvas id="canvasLoading" width="750" height="1450"></canvas>
</section>
<!--Body下的根元素 S-->
<section class="wrap">
  <!--选择城市 -->
  <div class="item item-choose ">
    <div class="box box_center">
      <div class="city_spacebw">
        <!-- 顶部MV模块 -->
        <div class="city_content_top">
          <!-- 百威logo -->
          <div class="city_logo">
            <img src="./img/logo.png" alt="" class="logo">
          </div>

          <div class="city_mv_container">
            <div class="city_mv_header">
              <!-- slogan 动画 -->
              <canvas id="canvasCitySlogan" width="470" height="155"></canvas>

              <div class="city_info">
                <div class="city_name_wrapper">
                  <!-- 城市名 -->
                  <div class="city_name">
                    上海
                  </div>
                  <!-- 城市燃点值 -->
                  <div class="city_hotbar_wrapper">
                    <div class="city_hotbar">
                      <span class="city_hotbar_inner"></span>
                    </div>
                    <div class="city_hotbar_label">燃点值</div>
                  </div>
                </div>
                <!-- 城市点赞按钮 -->
                <div class="city_like">
                  <canvas id="canvasLike" width="90" height="100"></canvas>
                </div>
              </div>
            </div>
            <!-- mv视频容器 -->
            <div class="city_mv_wrapper">
              {# webkit-playsinline  这个属性是ios 10中设置可以让视频在小窗内播放，也就是不是全屏播放 #}
              {# playsinline="true"   IOS微信浏览器支持小窗内播放 #}
              <video id="mvVideo" src="https://chimee.org/vod/1.mp4" webkit-playsinline="true" playsinline="true">
                您的浏览器不支持Video标签。
              </video>
              <!-- 半透明遮罩 -->
              <div class="city_mv_mark">
                <!-- 播放按钮 -->
                <div class="city_mv_btn_play">
                  <img src="./img/icon_stop.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 中部 释放更多城市 -->
        <div class="city_content_middle">
          <img class="city_drop" src="./img/drop.png" alt="">
        </div>

        <!-- 底部城市选择 -->
        <div class="city_content_bottom">
          <!-- 城市标签选择 -->
          <div class="city_tab_bar">
            <!-- 北京 -->
            <div class="city_tab_item" data-city="beijing">
              <canvas class="city_tab_canvas" id="canvasBeijing" width="164" height="344"></canvas>
              <div class="city_tab_hotbar">
                <div class="city_tab_heat">
                  <span class="heat_box"></span></div>
                <span class="heat_box_label">燃点值</span>
              </div>
            </div>
            <!-- 上海 -->
            <div class="city_tab_item" data-city="shanghai">
              <canvas class="city_tab_canvas" id="canvasShanghai" width="164" height="394"></canvas>
              <div class="city_tab_hotbar">
                <div class="city_tab_heat">
                  <span class="heat_box"></span></div>
                <span class="heat_box_label">燃点值</span>
              </div>
            </div>
            <!-- 广州 -->
            <div class="city_tab_item" data-city="guangzhou">
              <canvas class="city_tab_canvas" id="canvasGuangzhou" width="164" height="394"></canvas>
              <div class="city_tab_hotbar">
                <div class="city_tab_heat">
                  <span class="heat_box"></span></div>
                <span class="heat_box_label">燃点值</span>
              </div>
            </div>
            <!-- 厦门 -->
            <div class="city_tab_item" data-city="xiamen">
              <canvas class="city_tab_canvas" id="canvasXiamen" width="164" height="344"></canvas>
              <div class="city_tab_hotbar">
                <div class="city_tab_heat">
                  <span class="heat_box"></span></div>
                <span class="heat_box_label">燃点值</span>
              </div>
            </div>
            <!-- 全国 -->
            <div class="city_tab_item" data-city="quanguo">
              <canvas class="city_tab_canvas" id="canvasQuanguo" width="164" height="360"></canvas>
              <div class="city_tab_hotbar">
                <div class="city_tab_heat">
                  <span class="heat_box"></span></div>
                <span class="heat_box_label">燃点值</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 底部 -->
      <div class="box_bottom">
        <div class="bottom_text">
          <span class="text_img_box"></span>
          <span class="view_more">下滑查看更多上海歌单</span>
        </div>
        <!-- icon -->
        <div class="bottom_icon_box">
          <img class="bottom_icon" src="./img/icon_gliding.png" alt="">
        </div>
        <div class="logo_qq_box">
          <img class="logo_qq" src="./img/logo_qq.png" alt="">
        </div>
      </div>
    </div>
    <div class="bg"></div>
  </div>
  <!-- 歌单页 -->
  <div class="item item-songlist">
    <!-- 内容 -->
    <div class="box">
      <!-- logo -->
      <a class="box_header">
        <img src="./img/logo.png" alt="" class="logo">
      </a>
      <div class="scroll_view" id="scrollView">

        <!-- 歌单列表 -->
        <div class="box_middle" id="box_middle">
          <!-- 单个歌单 -->
          <div class="list_item">
            <div class="item_l">
              <!-- 歌单图片 -->
              <div class="picture_wrap">
                <img class="picture" src="./img/songlist_picture.jpg" alt="">

              </div>
              <!-- 收藏歌单 -->
              <div class="collect">
                <span class="collect_text">收藏歌单</span>
                <span class="collect_img"></span>
                <!-- <img src="./img/icon_collect.png" alt="" class="collect_img"> -->
              </div>
            </div>
            <div class="item_r">
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 查看更多 -->
              <div class="music_more">查看更多<img class="more_icon" src="./img/icon_more.png" alt=""></div>
            </div>
          </div>
          <!-- 单个歌单 -->
          <div class="list_item">
            <div class="item_l">
              <!-- 歌单图片 -->
              <div class="picture_wrap">
                <img class="picture" src="./img/songlist_picture.jpg" alt="">
              </div>
              <!-- 收藏歌单 -->
              <div class="collect">
                <span class="collect_text">收藏歌单</span>
                <img src="./img/icon_collect.png" alt="" class="collect_img">
              </div>
            </div>
            <div class="item_r">
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 查看更多 -->
              <div class="music_more">查看更多<img class="more_icon" src="./img/icon_more.png" alt=""></div>
            </div>
          </div>
          <!-- 单个歌单 -->
          <div class="list_item">
            <div class="item_l">
              <!-- 歌单图片 -->
              <div class="picture_wrap">
                <img class="picture" src="./img/songlist_picture.jpg" alt="">
              </div>
              <!-- 收藏歌单 -->
              <div class="collect">
                <span class="collect_text">收藏歌单</span>
                <img src="./img/icon_collect.png" alt="" class="collect_img">
              </div>
            </div>
            <div class="item_r">
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 查看更多 -->
              <div class="music_more">查看更多<img class="more_icon" src="./img/icon_more.png" alt=""></div>
            </div>
          </div>
          <!-- 单个歌单 -->
          <div class="list_item">
            <div class="item_l">
              <!-- 歌单图片 -->
              <div class="picture_wrap">
                <img class="picture" src="./img/songlist_picture.jpg" alt="">
              </div>
              <!-- 收藏歌单 -->
              <div class="collect">
                <span class="collect_text">收藏歌单</span>
                <img src="./img/icon_collect.png" alt="" class="collect_img">
              </div>
            </div>
            <div class="item_r">
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 单条音乐 -->
              <div class="music_item">
                <span class="music_name">Jet Blue Jet</span>
              </div>
              <!-- 查看更多 -->
              <div class="music_more">查看更多<img class="more_icon" src="./img/icon_more.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <div class="box_bottom">
        <div class="bottom_icon_box">
          <img class="bottom_icon" src="./img/icon_gliding.png" alt="">
        </div>
        <div class="copy_box">
          <img class="copy" src="./img/copy.png" alt="">
        </div>
      </div>
    </div>
    <div class="bg"></div>
  </div>
  <!-- 播放页 -->
  <div class="item item-playmusic">
    <div class="box">
      <div class="beer-wrapper" id="beerWrapper"></div>
      <!-- 头部 -->
      <div class="box_header">
        <div class="backtrack_box">
          <!-- 返回箭头 icon -->
          <a class="backtrack_wrap" href="javascript:;">
            <img class="backtrack" src="./img/icon_backtrack.png" alt="">
          </a>
          <!-- 文案 -->
          <span class="playing_box">
            <img class="note" src="./img/icon_note.png" alt="">
            正在播放：
          </span>
        </div>
        <!-- logo -->
        <a href="javascript:;" class="logo_box">
          <img src="./img/logo.png" alt="" class="logo">
        </a>
      </div>
      <!-- 中间 -->
      <div class="box_middle">
        <span class="playmusic_music_name">EL Super Clasico del Domingo</span>
        <!-- 转盘 -->
        <div class="turntable_box">
          <div class="turntable_bg"><img class="turntable_img" src="./img/songlist_picture.jpg" alt=""></div>
        </div>
        <!-- 播放器 -->
        <div class="player">
          <!-- 进度条 容器 -->
          <div class="progressbar_box">
            <span class="lose_time">00:00</span>
            <!-- 进度条 -->
            <div class="progressbar">
              {# 已播放进度 #}
              <span class="lose_progressbar"></span>
              <!-- 小圆点 -->
              <span class="progressbar_dot"></span>
            </div>
            <span class="total_time">05:20</span>
          </div>
          <!-- 切换 -->
          <div class="command_box">
            <audio controls="controls" class="command_audio">
              <source src="">
            </audio>
            {# 随机播放按钮 #}
            <span class="command_item schema_box"></span>
            {# 上一曲 #}
            <span class="command_item prev_box"></span>
            {# 播放 #}
            <span class="command_item play_box pause"></span>
            {# 下一曲 #}
            <span class="command_item nextsong_box"></span>
            {# 列表 #}
            <!-- <span class="command_item list_box"></span> -->
          </div>
        </div>
        <div class="box_music_list">
          <ul class="music_list" id="music_list">
            <li class="list_item">123</li>
            <li class="list_item">123</li>
            <li class="list_item">123</li>
          </ul>
        </div>
      </div>
      <!-- 底部 -->
      <div class="box_bottom">
        <span class="bottom_text">想听更多 ? 来现场感受极刻释放!</span>
        <span class="bottom_location"><img class="bottom_icon" src="./img/icon_location.png" alt="">
          <a href="javascript:;" class="bottom_name">上海SHANGHAI</a>
        </span>
        <span class="bottom_site">ARKHAM巨鹿路168号 021－62116371</span>
      </div>
    </div>
    <div class="bg"></div>
  </div>
</section>
{#
  <div class="log_dom">
  </div>
  <span id="log_clear">clear</span>
  #}
{% endblock %}

{% block javascript %}
<script src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/iSlider.min.js"></script>
<!-- 预加载资源插件 -->
<script type="text/javascript" src="js/preloadjs.min.js"></script>
<!-- spritejs资源插件 -->
<script type="text/javascript" src="js/spritejs.min.js"></script>
{#
    <script>
      console.log = function () {
        var s = ''
        for (var i = 0; i < arguments.length; i++) {
          s += ' ' + JSON.stringify(arguments[i])

        }
        var t = $('.log_dom').text()
        t += '\n' + s
        $('.log_dom').html(t)
        $()
      }
      $('#log_clear').click(function () {
        $('.log_dom').html('')
      })

  </script>
#} 
<!-- 帧动画参数 -->
<script type="text/javascript" src="js/canvasData.js"></script>
<!-- 帧动画模块配置 -->
<script type="text/javascript" src="js/canvasAni.js"></script>
<!-- 拖拽插件 -->
<script src="js/dragjs.js"></script>
<!-- template模板引擎 -->
<script src="js/template-web.js"></script>

<!-- 主程序 -->
<script type="text/javascript" src="js/index.js"></script>
{% endblock %}