<div class="footer">
  <div class="container">
    <a class="copy_txt1" href="mailto:pubgmmenacommunity@tencentgames.com"
      >pubgmmenacommunity@tencentgames.com</a
    >
    <div class="foot_btn">
      <div class="btn_box">
        <a
          onclick="gtag('event', 'x_download', {'event_category': 'challengercup','event_label': 'pc_foot_galaxy'});"
          href="//apps.samsung.com/appquery/appDetail.as?appId=com.tencent.ig"
          target="_blank"
          class="btn_galaxy sp"
        ></a>
        <a
          onclick="gtag('event', 'x_download', {'event_category': 'challengercup','event_label': 'pc_foot_store'});"
          href="//itunes.apple.com/app/id1330123889?mt=8"
          target="_blank"
          class="btn_store sp"
        ></a>
        <a
          onclick="gtag('event', 'x_download', {'event_category': 'challengercup','event_label': 'pc_foot_google'});"
          href="//play.google.com/store/apps/details?id=com.tencent.ig&amp;referrer=adjust_reftag%3DcgrmZM8tbnQdT%26utm_source%3Dofficial_website"
          target="_blank"
          class="btn_google sp"
        ></a>
      </div>
      <div class="icon_box">
        <a
          onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_facebook'});"
          href="//www.facebook.com/PUBGMOBILE/"
          target="_blank"
          class="fx_icon1 sp"
        ></a>
        <a
          onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_yotube'});"
          href="//www.youtube.com/channel/UCmeeY9kzNswUpbYyJntb3Aw"
          target="_blank"
          class="fx_icon2 sp"
        ></a>
        <a
          onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_twitter'});"
          href="//twitter.com/PUBGMOBILE_ARB"
          target="_blank"
          class="fx_icon2 sp fx_icon_t"
        ></a>
        <a
          onclick="gtag('event', 'x_share', {'event_category': 'challengercup','event_label': 'pc_foot_discord'});"
          href="//discord.gg/pubgm-mena"
          target="_blank"
          class="fx_icon2 sp fx_icon_x"
        ></a>
      </div>
    </div>
    <div class="foot_logo sp">
      <p class="oppo"></p>
    </div>
    <p class="copy_txt2">
      Copyright © PUBG Corporation. All rights reserved.
      <span
        ><a
          onclick="gtag('event', 'x_click', {'event_category': 'challengercup','event_label': 'pc_foot_privacy'});"
          href="/privacy.html"
          target="_blank"
          >Privacy Policy</a
        >&nbsp;&nbsp;&nbsp;&nbsp;<a
          onclick="gtag('event', 'x_click', {'event_category': 'challengercup','event_label': 'pc_foot_terms'});"
          href="/terms.html"
          target="_blank"
          >Tencent Games User Agreement</a
        ></span
      >
    </p>
  </div>
</div>
