<ul class="header_nav" lang="ar">
  <li><a href="../index.shtml" class="nav_logo"><img src="images/nav_logo.png" title="pubgmobile"></a></li>
  {# <li><a href="../index.shtml">الصفحة الرئيسية</a></li>
  <li><a href="../rules.shtml">القواعد</a></li>
  <li><a href="../reg.shtml">التسجيل</a></li> #}
  <li><a href="./schedule.html" {% if active=='schedule' %}class="title_register"{% endif %}>برنامج</a></li>
  <li><a href="./format.html" {% if active=='format' %}class="title_register"{% endif %}>شكل</a></li>
  <li><a href="./watch.html" {% if active=='watch' %}class="title_register"{% endif %}>مشاهدة</a></li>
</ul>
