{% set active="schedule" %}
{% extends "./_njk/base.njk" %}
{% block main %}
  <div class="watch_container">
    <div class="watch_title_wrapper">
      <span>برنامج المباريات</span>
    </div>
    <div class="content_data_list">
      <ul>
        <li>المراحل</li>
        <li>التاريخ</li>
      </ul>
      <ul>
        <li>التسجيل</li>
        <li>4/15-4/22</li>
      </ul>
      <ul>
        <li>التصفيات المؤهلة داخل اللعبة</li>
        <li>4/28-5/04</li>
      </ul>
      <ul>
        <li>التصفيات أون لاين</li>
        <li>5/12-5/23</li>
      </ul>
      <ul>
        <li>النهائيات</li>
        <li>5/29-5/30</li>
      </ul>
    </div>
  </div>
{% endblock %}
