 <div class="reg_content">
   <span class='title_text'>انتهت فترة التصفيات المؤهلة داخل اللعبة</span>
    <div class="wrap ar reg_wrap padding" lang="ar">
        <div class="video_tit">
          <iframe class="video_frame" src="https://www.youtube.com/embed/YShXBs0W8eQ?rel=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </div>
 </div>
