<div class="content_list padding">
    {# 状态二 - 该阶段已结束 #}
    {# <span>انتهت فترة تصفيات اون لاين</span> #}
    <div class="content_title margin_top">الجولة الأولى</div>
    <div class="content_data_list">
      <ul>
        <li>تاريخ</li>
        <li>11PM-10PM</li>
        <li>12PM-11PM</li>
        <li>1AM-12pm</li>
      </ul>
      <ul>
        <li>12 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة A</li>
        <li>المجموعة B</li>
      </ul>
      <ul>
        <li>13 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة C</li>
        <li>المجموعة D</li>
      </ul>
      <ul>
        <li>14 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة E</li>
        <li>المجموعة F</li>
      </ul>
      <ul>
        <li>15 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة G</li>
        <li>المجموعة H</li>
      </ul>
      <ul>
        <li>16 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة I</li>
        <li>المجموعة G</li>
      </ul>
      <ul>
        <li>17 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة K</li>
        <li>المجموعة L</li>
      </ul>
      <ul>
        <li>18 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة M</li>
        <li>المجموعة N</li>
      </ul>
      <ul>
        <li>19 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>المجموعة O</li>
        <li>المجموعة P</li>
      </ul>
    </div>
    <p>سيتم تصنيف أفضل 4 طواقم في كل مجموعة من الجولة الأولى إلى 4 مجموعات: مجموعة A, مجموعة B, مجموعة C و مجموعة D. في كل مجموعة 16 طاقما. وبذلك 64 طاقما سيلعب في الجولة الثانية.</p>
    <div class="content_title">الجولة الثانية</div>
    <div class="content_data_list">
      <ul>
        <li>تاريخ</li>
        <li>11PM-10PM</li>
        <li>12PM-11PM</li>
        <li>1AM-12pm</li>
      </ul>
      <ul>
        <li>20 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>مجموعة A-المباراة الأولى</li>
        <li>مجموعة A-المباراة الثانية</li>
      </ul>
      <ul>
        <li>21 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>مجموعة B-المباراة الأولى</li>
        <li>مجموعة B-المباراة الثانية</li>
      </ul>
      <ul>
        <li>22 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>مجموعة B-المباراة الأولى</li>
        <li>مجموعة B-المباراة الثانية</li>
      </ul>
      <ul>
        <li>23 مايو</li>
        <li>مشاهدين اللعبة</li>
        <li>مجموعة B-المباراة الأولى</li>
        <li>مجموعة B-المباراة الثانية</li>
      </ul>
    </div>
    <p>سيتم بث كل المباريات على صفحة المشاهدة </p>
  </div>