@charset "utf-8";
// 公共样式 - 背景图基本样式
.bg-item {
  display: block;
  background: {
    size: 100% auto;
    repeat: no-repeat;
    position: center;
  }
}
// 公共样式 - 定位基本样式
.ab-item {
  position: absolute;
  left: 50%;
  top: 50%;
}