<!DOCTYPE html>
<html lang="zh-cn">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <title>宾利 - QQ音乐</title>
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover,view-port-fit=cover" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="author" content="Tencent-Music" />
  <meta name="Copyright" content="Tencent" />
  <meta name="description" content="宾利  - QQ音乐" />
  <meta name="keywords" content="{活动名称相关的关键字} ,qq音乐,qqmusic,腾讯,绿钻贵族,特权,等级,绿钻活动,绿钻豪华版,付费,音乐包" />
  <meta name="applicable-device" content="mobile">
  {% endblock %}

  {% block stylesheet %}
  <link rel="stylesheet" href="css/style.min.css">
  {% endblock %}
</head>

<body>
  {% block main %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>

</html>