{% extends "./_njk/base.njk" %}

{% block main %}
  <!-- 生成后页面 -->
  <!-- 结果页 -->
  <div class="page_item page_end show">
    <!-- logo -->
    <div class="logo"></div>
    <!-- 内容 -->
    <div class="end_content">
      <!-- Data: 2020-05-28; Edit: Hani; Describe: 删除分字 删除代码 "<span class="unit">分</span>"; Start -->
      <!-- 配置项 - 分数 -->
      <div class="score">85<span class="decimals">.22</span></div>
      <!-- Data: 2020-05-28; Edit: Hani; Describe: 删除分字 删除代码 "<span class="unit">分</span>"; End -->
      <!-- 配置项 - 用户昵称 -->
      <div class="title">Chloe</div>
      <!-- 配置项 - 评语 -->
      <div class="text">你的音色让<br/>无数音雄尽折腰<br/>连<span class="name">徐佳莹</span>听了<br/>都想为你下腰！</div>
      <div class="title_bg"></div>
      <!-- 配置项 - 二维码 -->
      <div class="QR"></div>
    </div>
  </div>
{% endblock %}