<!-- 页面 -  -->
<div class="page_item page_squeeze">
	<div class="bg"></div>
	<div class="squeeze_inner">
		<!-- 顶部线条图 -->
		<div class="squeeze_up"></div>
		<!-- 底部线条图 -->
		<div class="squeeze_down"></div>
		<!-- 个人信息 -->
		<div class="squeeze_info">
			<!-- 头像框 -->
			<div class="squeeze_avatar">
				<!-- 头像 -->
				<img src="" id="avatar" alt="">
			</div>
			<!-- 答对题数 -->
			<div class="squeeze_topic text_forbid__cope">
				<!-- 答对题数大于0时显示 -->
				<div class="squeeze_topic__text">
					答对<span class="squeeze_topic__number">6</span>题
				</div>
				<!-- 答对题数等于0时显示 -->
				<div class="squeeze_topic__null">
					我一道题<br>都没答对
				</div>
			</div>
		</div>
		<!-- 中间内容 -->
		<div class="squeeze_content ">
			<!-- 背景图 -->
			<div class="squeeze_frame"></div>
			<!-- 耳朵图片 -->
			<div class="squeeze_ear"></div>
			<!-- 耳朵名字 -->
			<div class="squeeze_name text_forbid__cope"></div>
		</div>
		<!-- 我的奖品按钮 -->
		<div class="squeeze_prize">
			<div class="squeeze_prize__text text_forbid__cope">我的奖品</div>
		</div>
		<!-- 击败了多少挑战者 -->
		<div class="squeeze_defeat">
			<!-- 背景装饰图 -->
			<div class="squeeze_defeat__decorate"></div>
			<!-- 击败了多少挑战者 -->
			<div class="squeeze_defeat__list text_forbid__cope">
				<!-- 答对题数大于0时显示 -->
				<div class="squeeze_defeat__title">击败了<span class="squeeze_defeat__number">99</span>%的挑战者</div>
				<!-- 答对题数等于0时显示 -->
				<div class="squeeze_defeat__null">一个挑战者也没有击败</div>
			</div>
			<!-- 介绍文字 -->
			<div class="squeeze_defeat__text text_forbid__cope"></div>
		</div>
		<!-- 按钮 -->
		<div class="squeeze_btn">
			<!-- 再测一次按钮 -->
			<div class="squeeze_retest">
				<div class="squeeze_retest__text text_forbid__cope">再测一次</div>
			</div>
			<!-- 开始抽奖按钮 -->
			<div class="squeeze_lottery">
				<div class="squeeze_lottery__text text_forbid__cope">开始抽奖</div>
			</div>
		</div>
		<!-- 成绩 -->
		<div class="squeeze_grades">
			<!-- 耳机图片 -->
			<div class="squeeze_headset"></div>
			<!-- 文案 -->
			<div class="squeeze_title text_forbid__cope"></div>
			<!-- 点击保存成绩按钮 -->
			<div class="squeeze_save">
				<div class="squeeze_save__text text_forbid__cope">点击保存成绩</div>
			</div>
		</div>
	</div>
</div>
