{% set zh = {
  id: '玩家ID',
  residue: '剩余选票数量',
  all: '全部',
  mena: '中东',
  n_a: '北美',
  europe: '欧洲',
  jp: '日本',
  korea: '韩国',
  india: '印度',
  thailand: '泰国',
  vietnam: '越南',
  indonesia: '印尼',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: '全球玩家票选PUBG MOBILE天团，最强9人由你PICK！',
  giver: '每天参与投票，丰富奖励周周送',
  vote: '投票',
  rules: '活动规则',
  presentation: '本次活动时间共分两期：',
  presentation1: '第一期：6月28日至7月15日',
  presentation2: '玩家从全球100人中投票支持心中最佳人选，每个区域作为一个赛道，选出区域Top1 组成PUBG MOBILE最强9人天团，将会在PMCO 2019春季总决赛上进行表演赛。',
  presentation3: '玩家通过完成每周系列任务获得TEAM UP投票劵，进入H5页面投票，投票即获得TEAM UP 宝箱。',
  presentation4: '*每周更新一次排名',
  presentation5: '第二期：7月16日至7月25日',
  presentation6: '玩家从最终TOP 9中选择自己支持的人选，每次投票均可获得TEAM UP宝箱奖励，TOP 9还将在PMCO 2019春季总决赛进行现场抽奖，从投票支持的玩家中抽取大奖！（后续将会有2期活动页面，将会提供更详细的游戏规则）',
  presentation7: '',
  presentation8: '采取违规手段参与本次活动的点赞数等将不纳入最终数据。',
  presentation9: 'PUBG MOBILE对玩家违规获得的道具持有追回权利，并将追究相关人责任。',
  presentation10: '关注PUBG MOBILE官方Facebook、Twitter账号，了解更多活动资讯。',
  account: '登陆账号',
  vote_now: '马上投票',
  raid: '谢谢你对我的支持，',
  mail: '送你一个TEAM UP宝箱，请在邮箱内查收！',
  continue: '继续投票',
  gone: '你已经没有TEAM UP投票劵了，继续到游戏内完成任务收集吧！',
  share_via: '请选择分享方式',
  support: '我在PUBG MOBILE TEAM UP 100中支持了{0}！',
  cheer: '你也来为你喜欢的选手加油吧！',
  you_decide: '为你喜欢的选手投票吧，最后的TOP 9由你决定！',
  name: '姓名',
  nationality: '国籍',
  manifesto: 'TEAM UP 宣言',
  profile: '个人介绍',
  share: '分享',
  ademas: '请到PUBG MOBILE中参与TEAM UP活动为我投票吧！',
  love: '与你喜爱的选手TEAM UP',
  giver2: '每天参与投票，丰富奖励周周送！'
} %}

{% set en = {
  id: 'Player ID',
  residue: 'Votes Left',
  all: 'ALL',
  mena: 'MENA',
  n_a: 'North America',
  europe: 'Europe',
  jp: 'Japan',
  korea: 'Korea',
  india: 'India',
  thailand: 'Thailand',
  vietnam: 'Vietnam',
  indonesia: 'Indonesia',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Pick the best 9 players for the ultimate PUBG MOBILE team!',
  giver: 'Cast your vote daily to win rewards!',
  vote: 'Vote',
  rules: 'Rules',
  presentation: 'This event has 2 phases:',
  presentation1: 'Phase 1: 28 JUN 2019 - 15 JUL 2019',
  presentation2: 'Choose your favorites from the list of Top 100 global players. The top player from each of the 9 regions will team up for an exhibition match during PMCO 2019 Spring Split Finals.',
  presentation3: 'Complete weekly missions to get TEAM UP Voting Tickets, then enter the page to cast your vote and get a TEAM UP Crate.',
  presentation4: '*Ranking is updated every week.',
  presentation5: 'Phase 2: 16 JUL 2019 - 25 JUL 2019',
  presentation6: 'Vote for your favorite of the Top 9 and get a TEAM UP Crate each time. The 9 players will also hold a lucky draw at the PMCO 2019 Spring Split Finals to give out rewards to their fans! Please stay tuned for more Phase 2 information and rules.',
  presentation7: '',
  presentation8: '*Votes cast via invalid channels will not be counted.',
  presentation9: '*PUBG MOBILE reserves the right to revoke items obtained while violating event rules and the right to hold violators responsible.',
  presentation10: 'Follow PUBG MOBILE on Facebook and Twitter for more information.',
  account: 'Account',
  vote_now: 'Vote Now',
  raid: 'Thank you for your support!',
  mail: 'A TEAM UP Crate has been sent to your in-game mail.',
  continue: 'Continue',
  gone: 'No more TEAM UP Voting Tickets. Complete missions to get more!',
  share_via: 'Share via',
  support: 'I voted for {0} in PUBG MOBILE TEAM UP 100!',
  cheer: 'Come support your favorite player!',
  you_decide: 'Vote and send your favorite to the Top 9!',
  name: 'Name',
  nationality: 'Nationality',
  manifesto: 'TEAM UP Message',
  profile: 'Profile',
  share: 'Share',
  ademas: "Vote for me in PUBG MOBILE's TEAM UP event!",
  love: 'TEAM UP with your favorite player',
  giver2: 'Cast your vote daily to get rewards!'
} %}

{% set TW = {
  id: '玩家ID',
  residue: '剩餘選票數量',

  all: '全部',
  mena: '中東',
  n_a: '北美',
  europe: '歐洲',
  jp: '日本',
  korea: '韓國',
  india: '印度',
  thailand: '泰國',
  vietnam: '越南',
  indonesia: '印尼',

  title: 'PUBG MOBILE TEAM UP 100 ',
  pick: '全球玩家票選PUBG MOBILE天團，最強9人由你PICK！',
  giver: '每天參與投票，豐富獎勵週週送',
  vote: '投票',
  rules: '票選規則',
  presentation: '本次活動時間共分兩期：',
  presentation1: '第一期：6月28日至7月15日',
  presentation2: '玩家從全球100人中選擇心中最佳人選進行投票，每個區域作為一個賽道，選出區域Top 1組成PUBG MOBILE最強9人天團，他們將會在PMCO 2019春季總決賽上進行表演賽。',
  presentation3: '玩家透過完成每週系列任務獲得TEAM UP投票劵，進入H5頁面投票，投票即獲得TEAM UP寶箱。',
  presentation4: '*每週更新一次排名',
  presentation5: '第二期：7月16日至7月25日',
  presentation6: '玩家從最終TOP 9中選擇自己支持的人選，每次投票均可獲得TEAM UP寶箱獎勵，TOP 9還將在PMCO 2019春季總決賽上現場從投票的玩家中抽取大獎！（後續將會有2期活動頁面用以提供更詳細的遊戲規則）',
  presentation7: '請注意：',
  presentation8: '採取違規手段參與本次活動的按讚數等將不納入最終數據。',
  presentation9: 'PUBG MOBILE對玩家違規獲得的道具持有追回權利，並將追究相關人責任。',
  presentation10: '關注PUBG MOBILE官方Facebook、Twitter帳號，了解更多活動資訊。',
  account: '登入帳號',
  vote_now: '馬上投票',
  raid: '謝謝你對我的支持，',
  mail: '送你一個TEAM UP寶箱，請在郵箱內查收！',
  continue: '繼續投票',
  gone: '你已經沒有TEAM UP投票券了，繼續到遊戲內完成任務收集吧！',
  share_via: '請選擇分享方式',
  support: '我在PUBG MOBILE TEAM UP 100中支持了{0}！',
  cheer: '你也來為你喜歡的選手加油吧！',
  you_decide: '為你喜歡的選手投票吧，最後的TOP9由你決定！',
  name: '姓名',
  nationality: '國籍',
  manifesto: 'TEAM UP 宣言',
  profile: '個人介紹',
  share: '分享',
  ademas: "請登入PUBG MOBILE參與TEAM UP活動來為我投票吧！",
  love: '與你喜愛的選手TEAM UP',
  giver2: '每天參與投票，豐富獎勵週週送！'
} %}

{% set th = {
  id: 'ID ผู้เล่น',
  residue: 'เหลือบัตรลงคะแนน',
  all: 'ทั้งหมด',
  mena: 'ตะวันออกกลาง',
  n_a: 'อเมริกาเหนือ',
  europe: 'ยุโรป',
  jp: 'ญี่ปุ่น',
  korea: 'เกาหลีใต้',
  india: 'อินเดีย',
  thailand: 'ไทย',
  vietnam: 'เวียดนาม',
  indonesia: 'อินโดนีเซีย',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'ร่วมโหวตทีม PUBG MOBILE Fantasy 9 คนสุดท้าย คุณคือผู้เลือก!',
  giver: 'เข้าร่วมกิจกรรมโหวต เพื่อรับรางวัลสุดพิเศษ',
  vote: 'โหวต',
  rules: 'กติกา',
  presentation: 'กิจกรรมแบ่งออกเป็น 2 ช่วง: ',
  presentation1: 'ช่วงที่ 1: 28 มิถุนายน - 15 กรกฎาคม 2019',
  presentation2: 'คุณสามารถเลือกโหวตบุคคลที่ชอบจาก 100 คน ทั่วโลก ซึ่งจะมีการแบ่งสายตามพื้นที่ เพื่อเลือก Top 1 จากแต่ละสายเป็น 9 คนสุดท้ายของทีม PUBG MOBILE ที่จะได้เข้าร่วมโชว์แมทช์ใน PMCO 2019 รอบ Spring Season Finals',
  presentation3: 'คุณสามารถนำบัตรลงคะแนน TEAM UP ที่ได้รับจากการสำเร็จภารกิจในแต่ละสัปดาห์ มาโหวตบุคคลที่ชื่นชอบได้ในเว็บไซต์ ซึ่งคุณจะได้รับกล่อง TEAM UP ทุกครั้งหลังจากลงคะแนนสำเร็จ',
  presentation4: '*อัปเดตอันดับสัปดาห์ละ 1 ครั้ง',
  presentation5: 'ช่วงที่ 2: 16 - 25 กรกฎาคม 2019',
  presentation6: 'เลือกโหวตต่อจาก Top 9 ที่ผ่านการคัดเลือกในรอบแรกมาแล้ว โดยจะได้รับกล่อง TEAM UP ทุกครั้งที่โหวต และทั้ง Top 9 จะทำการสุ่มผู้เล่นที่ร่วมโหวตเพื่อรับรางวัลใหญ่ ณ สนามแข่งขันจริงใน PMCO 2019 รอบ Spring Season Finals (ติดตามรายละเอียดเพิ่มเติมจากหน้ากิจกรรมของช่วงที่ 2 ได้ในภายหลัง)',
  presentation7: 'หมายเหตุ: ',
  presentation8: 'กรณียอดไลค์ที่ถูกเพิ่มโดยวิธีการที่ไม่ถูกต้อง จะไม่ถูกนับในคะแนนรวม',
  presentation9: 'ทาง PUBG MOBILE มีสิทธิ์ในการเรียกของรางวัลคืนจากผู้เล่นที่ละเมิดกฎ และจะดำเนินการเพื่อถามหาความรับผิดชอบอื่นๆ ต่อไป',
  presentation10: 'สามารถติดตามข่าวสารกิจกรรมอื่นๆ เพิ่มเติมได้ที่ Facebook, Twitter ของ PUBG MOBILE',
  account: 'ล็อกอินบัญชี',
  vote_now: 'โหวตเลย',
  raid: 'ขอบคุณสำหรับการโหวต',
  mail: 'นี่คือรางวัลกล่อง TEAM UP กรุณารับผ่านกล่องจดหมาย!',
  continue: 'โหวตต่อ',
  gone: 'คุณไม่มีบัตรลงคะแนน TEAM UP เหลือแล้ว สามารถรับเพิ่มได้จากการสำเร็จภารกิจภายในเกม',
  share_via: 'กรุณาเลือกวิธีการแชร์',
  support: 'คุณเชียร์ {0} ใน PUBG MOBILE TEAM UP 100!',
  cheer: 'ร่วมเชียร์เพื่อส่งกำลังใจให้ผู้เล่นในดวงใจกันเลย!',
  you_decide: 'โหวตผู้เล่นที่ชอบเพื่อให้เป็น 9 คนสุดท้าย คุณคือผู้กำหนด!',
  name: 'ชื่อ-สกุล',
  nationality: 'สัญชาติ',
  manifesto: 'แถลงการณ์จาก TEAM UP',
  profile: 'แนะนำตัว',
  share: 'แชร์',
  ademas: "ร่วมสนุกโหวตในกิจกรรม TEAM UP กับพวกเราได้ที่ PUBG MOBILE!",
  love: 'TEAM UP กับเพื่อนที่คุณชื่นชอบ',
  giver2: 'โหวตทุกวัน รับทันทีของรางวัลสุดพิเศษ!'
} %}

{% set es = {
  id: 'ID de jugador',
  residue: 'Votos restantes',
  all: 'Todo',
  mena: 'Medio Oriente y África del Nortees',
  n_a: 'América del Norte',
  europe: 'Europa',
  jp: 'Japón',
  korea: 'Corea',
  india: 'India',
  thailand: 'Tailandia',
  vietnam: 'Vietnam',
  indonesia: 'Indonesia',
  title: 'PUBG MOBILE EQUIPOS 100',
  pick: '¡Elige a los 9 mejores jugadores para el mejor equipo de PUBG MOBILE!',
  giver: '¡Vota diariamente para obtener recompensas!',
  vote: 'Votar',
  rules: 'Reglas',
  presentation: 'Este evento consiste en 2 fases:',
  presentation1: 'Fase 1: 28 de junio del 2019 al 15 de julio del 2019',
  presentation2: 'Elige a tus jugadores favoritos del la lista de los 100 mejores jugadores globales. Los mejores jugadores de cada una de las 9 regiones formaran un equipo para una partida de exhibición durante la final de la división de primavera de PMCO 2019.',
  presentation3: 'Completa las misiones semanales para obtener Boletas de Votación de EQUIPOS, después entra a la página para emitir tu voto y ganar caja EQUIPOS.',
  presentation4: '*La clasificación es actualizada cada semana.',
  presentation5: 'Fase 2: 16 de julio del 2019 al 25 de julio del 2019',
  presentation6: 'Vota por tu jugador favorito del Top 9 y obtén una caja de EQUIPO cada vez. Los 9 jugadores también tendrán un sorteo de la suerte en la final de la división de primavera PMCO 2019, ¡la cual dará recompensas a sus fans! Por favor, esta atento a más información y reglas de la Fase 2.',
  presentation7: '',
  presentation8: '* Los votos emitidos por los canales no validos no serán tomados en cuenta.',
  presentation9: '*PUBG MOBILE se reserva el derecho a revocar objetos obtenidos al violar las reglas del evento y el derecho a responsabilizar a los tramposos.',
  presentation10: 'Sigue las cuentas oficiales de PUBG MOBILE en Facebook y Twitter para más información.',
  account: 'Cuenta',
  vote_now: 'Votar Ahora',
  raid: '¡Gracias por tu apoyo! ',
  mail: 'Una Caja de EQUIPOS ha sido enviada a tu correo de juego.',
  continue: 'Continuar',
  gone: 'No tienes más Boletas de Votación de EQUIPOS. ¡Completa misiones para obtener más!',
  share_via: 'Compartir vía',
  support: '¡He votado por {0} en el PUBG MOBILE EQUIPOS 100!',
  cheer: '¡Ven y apoya a tu jugador favorito!',
  you_decide: '¡Vota y lanza a tu favorito al Top 9!',
  name: 'Nombre',
  nationality: 'Nacionalidad',
  manifesto: 'Mensaje de EQUIPOS',
  profile: 'Perfil',
  share: 'Compartir',
  ademas: "¡Vota por mí en el evento EQUIPOS de PUBG MOBILE!",
  love: 'Forma EQUIPOS con tu jugador favorito ',
  giver2: '¡Vota diariamente para obtener recompensas!'
} %}

{% set fr = {
  id: 'ID de joueur',
  residue: 'Votes restants',
  all: 'TOUS',
  mena: 'MENA',
  n_a: 'Amérique du Nord',
  europe: 'Europe',
  jp: 'Japon',
  korea: 'Corée',
  india: 'Inde',
  thailand: 'Thaïlande',
  vietnam: 'Vietnam',
  indonesia: 'Indonésie',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: "Choisissez les 9 meilleurs joueurs pour l'équipe ultime PUBG MOBILE !",
  giver: 'Votez tous les jours pour des récompenses !',
  vote: 'Voter',
  rules: 'Règles',
  presentation: 'Cet événement est composé de 2 phases :',
  presentation1: 'Phase 1 : 28 JUIN 2019 - 15 JUILLET 2019',
  presentation2: 'Sélectionnez vos favoris depuis la liste des 100 meilleurs joueurs du monde. Le meilleur joueur de chacune des 9 régions jouera en équipe pour un match de présentation au cours de la finale du Spring Split PMCO 2019.',
  presentation3: '*Le classement sera mis à jour toutes les semaines.',
  presentation4: 'Phase 2 : 16 JUILLET 2019 - 25 JUILLET 2019',
  presentation5: 'Votez pour vos favoris du top 9 et recevez une caisse TEAM UP à chaque vote.',
  presentation6: "Les 9 joueurs organiseront un tirage spécial lors de la finale du Spring Split PMCO 2019 pour permettre aux fans de recevoir des récompenses ! Restez à l'écoute pour plus d'informations sur la Phase 2.",
  presentation7: '',
  presentation8: '*Les votes soumis via des canaux invalides ne seront pas comptabilisés.',
  presentation9: '*PUBG MOBILE se réserve le droit de déposséder les contrevenants aux infractions des articles obtenus et de les porter responsables.',
  presentation10: "Suivez PUBG MOBILE sur Facebook et Twitter pour plus d'informations.",
  account: 'Compte',
  vote_now: 'Voter maintenant',
  raid: 'Merci pour votre soutien !',
  mail: 'Une caisse TEAM UP a été envoyée sur votre messagerie de jeu.',
  continue: 'Continuer',
  gone: 'Aucun ticket de vote TEAM UP restant. Terminez des missions pour recevoir davantage de votes !',
  share_via: 'Partager via',
  support: 'Je viens de voter pour {0} dans PUBG MOBILE TEAM UP 100 !',
  cheer: 'Venez soutenir votre joueur favori !',
  you_decide: 'Votez et élisez les 9 meilleurs joueurs !',
  name: 'Nom',
  nationality: 'Nationalité',
  manifesto: 'Message TEAM UP',
  profile: 'Profil',
  share: 'Partager',
  ademas: "Votez pour moi lors de l'événement PUBG MOBILE TEAM UP",
  love: 'Faites équipe avec votre joueur favori',
  giver2: 'Votez tous les jours pour des récompenses !'
} %}

{% set tr = {
  id: 'Oyuncu NO',
  residue: 'Kalan Oylar',
  all: 'Tümü',
  mena: 'Ortadoğu ve Kuzey Afrika',
  n_a: 'Kuzey Amerika',
  europe: 'Avrupa',
  jp: 'Japonya',
  korea: 'Kore',
  india: 'Hindistan',
  thailand: 'Tayland',
  vietnam: 'Vietnam',
  indonesia: 'Endonezya',
  title: 'PUBG MOBILE AS KADRO 100',
  pick: 'En iyi PUBG MOBILE takımı için en iyi 9 oyuncuyu seç!',
  giver: 'Her gün oy kullanarak ödül kazan!',
  vote: 'Oy Ver',
  rules: 'Kurallar',
  presentation: 'Etkinliğin 2 aşaması bulunur:',
  presentation1: 'Aşama 1: 28 Haziran 2019 - 15 Temmuz 2019',
  presentation2: 'Dünya çapındaki En İyi 100 oyuncu arasından favorilerini seç. 9 bölgenin her birinde en çok oy alan oyuncu PMCO 2019 Bahar Oyunları Finalinde bir gösteri maçı yapacak.',
  presentation3: 'Haftalık görevleri tamamlayarak AS KADRO Oy Bileti edinsayfaya girip oyunu kullanarak AS KADRO Sandığı kazan.',
  presentation4: '*Sıralamalar her hafta güncellenir.',
  presentation5: 'Aşama 2: 16 Temmuz 2019 - 25 Temmuz 2019',
  presentation6: 'En İyi 9 oyuncu içinden favorin için oy vererekher seferinde bir AS KADRO Sandığı kazan. Ayrıca bu 9 oyuncu PMCO Bahar Oyunları Finalinde çekilişle hayranlarına ödüller dağıtacak! Aşama 2 ile ilgili daha fazla detay ve etkinlik kuralları için bizi takip etmeye devam et.',
  presentation7: '',
  presentation8: '*Geçersiz yöntemlerle kullanılan oylar sayılmayacak.',
  presentation9: '*PUBG MOBILE, etkinlik kuralları ihlal edilerek alınan ögeleri iptal etme hakkını ve ihlal eden oyuncuları sorumlu tutma hakkını saklı tutar.',
  presentation10: "PUBG MOBILE'ı Facebook ve Twitter'dan takip ederek daha fazla bilgi edin.",
  account: 'Hesap',
  vote_now: 'Şimdi Oy Ver',
  raid: 'Desteğin için teşekkürler!',
  mail: 'İşte bir AS KADRO Sandığı.',
  continue: 'Devam',
  gone: 'AS KADRO Oy Bileti kalmadı. Daha fazlası için görev tamamla!',
  share_via: 'Paylaş:',
  support: "PUBG MOBILE AS KADRO 100'de {0} için oy kullandım!",
  cheer: 'Kendi favorini desteklemek için gel!',
  you_decide: "Şimdi oy ver ve favori oyuncunu En İyi 9'a yerleştir!",
  name: 'İsim',
  nationality: 'Uyruk',
  manifesto: 'AS KADRO Mesajı',
  profile: 'Profil',
  share: 'Paylaş',
  ademas: 'PUBG MOBILE AS KADRO etkinliğinde benim için oy ver!',
  love: 'Favori oyuncunla bir AS KADRO kur',
  giver2: 'Ödül kazanmak için her gün oy ver!'
} %}

{% set vi = {
  id: 'ID người chơi',
  residue: 'Số phiếu bình chọn còn',
  all: 'Toàn bộ',
  mena: 'Trung Đông',
  n_a: 'Bắc Mỹ',
  europe: 'Châu Âu',
  jp: 'Nhật Bản',
  korea: 'Hàn Quốc',
  india: 'Ấn Độ',
  thailand: 'Thái Lan',
  vietnam: 'Việt Nam',
  indonesia: 'Indonesia',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Top 9 người chơi PUBG MOBILE ưu tú thế giới hoàn toàn do bạn bình chọn!',
  giver: 'Mỗi ngày tham gia bình chọn, để nhận thưởng hằng tuần',
  vote: 'Bình chọn',
  rules: 'Quy tắc bình chọn',
  presentation: 'Sự kiện chia làm 2 đợt:',
  presentation1: 'Đợt 1: 28/6-15/7',
  presentation2: 'Người chơi bình chọn cho người mình yêu thích từ TOP100, mỗi khu vực chọn ra Top1 khu vực để lập đội PUBG MOBILE gồm 9 người mạnh nhất toàn thế giới, tiến hành thi đấu biểu diễn tại Chung Kết Global PMCO Mùa Hè.',
  presentation3: 'Người chơi hoàn thành nhiệm vụ tuần để nhận phiếu bình chọn TEAM UP, sau đó vào trang H5 để bình chọn, bình chọn xong sẽ được nhận thưởng Hòm đồ TEAM UP.',
  presentation4: '*Mỗi tuần cập nhật xếp hạng 1 lần',
  presentation5: 'Đợt 2: 16/7-25/7',
  presentation6: 'Người chơi tiếp tục bình chọn cho người mình yêu thích từ TOP9, mỗi lần bình chọn đều có thể nhận Hòm đồ TEAM UP, TOP9 sẽ tham gia rút thăm tại Chung Kết Global PMCO Mùa Hè để chọn ra người trúng thưởng từ những người chơi bình chọn! (Trang sự kiện đợt 2 sẽ cập nhật sau, và có nội dung quy tắc chi tiết hơn)',
  presentation7: 'Chú ý:',
  presentation8: 'Các hành vi gian lận điểm sẽ không được tính trong số liệu cuối cùng.',
  presentation9: 'PUBG MOBILE có quyền thu hồi vật phẩm nhận được từ việc gian lận, và truy cứu trách nhiệm người liên quan.',
  presentation10: 'Theo dõi trang Faceook, Twitter chính thức của PUBG MOBILE để tìm hiểu thêm về thông tin sự kiện.',
  account: 'Tài khoản đăng nhập',
  vote_now: 'Bình chọn ngay!',
  raid: 'Cám ơn bạn đã ủng hộ cho tôi,',
  mail: 'Tặng bạn 1 Hòm đồ TEAM UP, vui lòng vào hộp thư để nhận!',
  continue: 'Tiếp tục bình chọn',
  gone: 'Bạn đã hết phiếu bình chọn TEAM UP, mau vào game hoàn thành nhiệm vụ để thu thập nào!',
  share_via: 'Hãy chọn phương thức chia sẻ',
  support: 'Tôi đã ủng hộ {0} trong PUBG MOBILE TEAM UP 100!',
  cheer: 'Bạn cũng mau đến cổ vũ cho người mình yêu thích nào! ',
  you_decide: 'Hãy bình chọn cho người mình yêu thích, TOP9 sẽ do bạn quyết định!',
  name: 'Họ tên',
  nationality: 'Quốc tịch',
  manifesto: 'Tuyên bố TEAM UP',
  profile: 'Giới thiệu bản thân',
  share: 'Chia sẻ',
  ademas: 'Hãy đến tham gia PUBG MOBILE TEAM UP để bình chọn cho mình!',
  love: 'TEAM UP với người chơi yêu thích',
  giver2: 'Bình chọn mỗi ngày, nhận thưởng hàng tuần!'
} %}

{% set de = {
  id: 'Spieler-ID',
  residue: 'Stimmen übrig',
  all: 'ALLE',
  mena: 'Mittlerer Osten',
  n_a: 'Nordamerika',
  europe: 'Europa',
  jp: 'Japan',
  korea: 'Korea',
  india: 'Indien',
  thailand: 'Thailand',
  vietnam: 'Vietnam',
  indonesia: 'Indonesien',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Wähle die besten 9 Spieler für das ultimative PUBG MOBILE-TEAM',
  giver: 'Stimme täglich ab, um Belohungen zu erhalten!',
  vote: 'Abstimmen',
  rules: 'Regeln',
  presentation: 'Diese Veranstaltung hat 2 Phasen:',
  presentation1: 'Phase 1: 28. Juni – 15. Juli 2019',
  presentation2: 'Wähle deine Favoriten aus der Liste der Top 100 globalen Spieler. Der beste Spieler aus jeder der 9 Regionen wird mit den anderen während der PMCO 2019 Spring Split Finals zu einem Schaukampf zusammenkommen.',
  presentation3: 'Schließe wöchentliche Missionen ab, um Tickets für die Abstimmung zu erhalten. Gehe dann zur Seite, um abzustimmen und deine Belohnung zu erhalten.',
  presentation4: '*Rangliste wird wöchentlich erneuert',
  presentation5: 'Phase 2: 16. JULI 2019 - 25. JULI 2019',
  presentation6: 'Stimme für deinen Favoriten der Top 9 ab und erhalte jedes Mal eine TEAM UP-Kiste. Die 9 Spieler werden bei den PMCO 2019 Spring Split Finals auch eine Glücksziehung veranstalten, um ihren Fans Belohnungen zu schenken! Bleib am Ball und erfahre weitere Informationen und Regeln der Phase 2.',
  presentation7: '',
  presentation8: 'Über ungültige Wege abgegebene Stimmen werden nicht berücksichtigt.',
  presentation9: 'PUBG MOBILE behält das Recht vor, unzulässig erworbene Items wieder zu entziehen und die verantwortlichen Spieler zu bestrafen.',
  presentation10: 'Folge PUBG MOBILE auf Facebook und Twitter für mehr Informationen.',
  account: 'Konto',
  vote_now: 'Jetzt abstimmen',
  raid: 'Danke für deine Unterstützung!',
  mail: 'Eine TEAM UP-Kiste wurde an deine Mail im Spiel versendet.',
  continue: 'Weiter',
  gone: 'Keine Stimmen übrig. Schließe Missionen ab, um weitere Tickets für die Abstimmung zu erhalten!',
  share_via: 'Teilen über',
  support: 'Ich habe in PUBG MOBILE TEAM UP 100 für {0} gestimmt!',
  cheer: 'Unterstützte deinen Lieblingsspieler!',
  you_decide: 'Stimme jetzt ab und schicke deine Favoriten auf die Top 9!',
  name: 'Name',
  nationality: 'Nationalität',
  manifesto: 'TEAM UP-Nachricht',
  profile: 'Profil',
  share: 'Teilen',
  ademas: "Stimme für mich in PUBG MOBILES TEAM UP-Event",
  love: 'Spiel im Team mit deinem Lieblingsspieler',
  giver2: 'Stimme täglich ab für Belohnungen!'
} %}

{% set pt = {
  id: 'ID do Jogador',
  residue: 'Votos Restantes',
  all: 'TODOS',
  mena: 'Oriente Médio',
  n_a: 'América do Norte',
  europe: 'Europa',
  jp: 'Japão',
  korea: 'Coréia',
  india: 'Índia',
  thailand: 'Tailândia',
  vietnam: 'Vietnã',
  indonesia: 'Indonésia',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Escolha os 9 melhores jogadores e forme a melhor equipe PUBG MOBILE!',
  giver: 'Vote diariamente para obter recompensas!',
  vote: 'Votar',
  rules: 'Regras',
  presentation: 'Este evento terá 2 fases:',
  presentation1: 'Fase 1: 28 de JUN de 2019 - 15 de JUL 2019',
  presentation2: 'Escolha os seus favoritos da lista global de jogadores Top 100. Jogadores Top de cada uma das 9 regiões formarão equipe para uma partida de exibição durante a Final da Divisão de Primavera PMCO 2019.',
  presentation3: 'Complete missões semanais para obter Tíquetes de Votação de EQUIPES, depois entre na página para votar e obter uma Caixa de EQUIPE.',
  presentation4: '*A classificação é atualizada toda semana.',
  presentation5: 'Fase 2: 16 de JUL 2019 - 25 de JUL 2019',
  presentation6: 'Vote no seu favorito do Top 9 e obtenha uma Caixa de EQUIPE cada vez. Os 9 jogadores também atenderão ao sorteio na Final da Divisão de Primavera PMCO 2019 para entregar recompensas a seus fãs! Por favor fique atento para mais informações e regras da Fase 2.',
  presentation7: '',
  presentation8: '*Votos via canais inválidos não serão computados. ',
  presentation9: '*PUBG MOBILE reserva os direitos de revogar os itens obtidos por violação de regras do evento e o direito de responsabilizar os violadores.',
  presentation10: 'Siga PUBG MOBILE no Facebook e Twitter para mais informações.',
  account: 'Conta',
  vote_now: 'Votar Agora',
  raid: 'Obrigado pelo seu apoio!',
  mail: 'Uma Caixa TEAM UP foi enviada ao seu email do jogo.',
  continue: 'Continuar',
  gone: 'Sem mais votos de TEAM UP. Complete missões para ganhar mais!',
  share_via: 'Compartilhe via',
  support: 'Eu votei {0} no PUBG MOBILE TEAM UP 100!',
  cheer: 'Venha e apoie o seu jogador favorito!',
  you_decide: 'Vote e coloque o seu favorito ao Top 9!',
  name: 'Nome',
  nationality: 'Nacionalidade',
  manifesto: 'Mensagem de TEAM UP',
  profile: 'Perfil',
  share: 'Compartilhar',
  ademas: "Vote em mim no evento EQUIPES DO PUBG MOBILE!",
  love: 'FORME EQUIPE com o seu jogador favorito',
  giver2: 'Vote diariamente para ganhar recompensas!'
} %}

{% set id = {
  id: 'ID Pemain',
  residue: 'Sisa Voting',
  all: 'SEMUA',
  mena: 'MENA',
  n_a: 'Amerika Utara',
  europe: 'Eropa',
  jp: 'Jepang',
  korea: 'Korea',
  india: 'India',
  thailand: 'Thailand',
  vietnam: 'Vietnam',
  indonesia: 'Indonesia',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Pilih 9 pemain hebat untuk tim PUBG MOBILE terbaik!',
  giver: 'Voting setiap hari untuk memenangkan hadiah!',
  vote: 'Vote',
  rules: 'Peraturan',
  presentation: 'Ada 2 fase dalam event ini:',
  presentation1: 'Fase 1: 28 JUN 2019 - 15 JUL 2019',
  presentation2: 'Pilih pemain favoritmu dari daftar Top 100 pemain global. Pemain teratas dari masing-masing 9 region akan membentuk tim untuk pertandingan ekshibisi selama Final Spring Split PMCO 2019.',
  presentation3: 'Tuntaskan misi mingguan untuk mendapatkan Tiket Voting TEAM UP, lalu masuk ke halaman untuk mengirimkan voting Anda dan dapatkan Peti TEAM UP.',
  presentation4: '*Peringkat diperbarui setiap minggu.',
  presentation5: 'Fase 2: 16 JUL 2019 - 25 JUL 2019',
  presentation6: 'Vote pemain favoritmu dari Top 9 dan dapatkan peti TEAM UP untuk tiap vote. Kesembilan pemain juga akan memperoleh lucky draw di Final Spring Split PMCO 2019 untuk bagi-bagi hadiah ke para fans mereka! Pantau terus perkembangan info mengenai peraturan Fase 2 selengkapnya.',
  presentation7: '',
  presentation8: '*Voting yang diberikan lewat saluran yang tidak valid tidak akan dihitung.',
  presentation9: '*PUBG MOBILE berhak untuk membatalkan item yang diperoleh jika terjadi pelanggaran aturan dan berhak untuk meminta pertanggung jawaban dari pelanggar.',
  presentation10: 'Untuk info selengkapnya, ikuti Facebook dan Twitter PUBG MOBILE.',
  account: 'Akun',
  vote_now: 'Voting Sekarang',
  raid: 'Terima kasih atas dukungan Anda!',
  mail: 'Peti TEAM UP telah dikirim ke pesan dalam game Anda.',
  continue: 'Lanjutkan',
  gone: 'Tidak ada Tiket Voting TEAM UP tersisa. Tuntaskan misi agar bisa mem-voting kembali.',
  share_via: 'Bagikan via',
  support: 'Saya memberi vote untuk {0} di PUBG MOBILE TEAM UP 100!',
  cheer: 'Ayo dukung pemain favoritmu!',
  you_decide: 'Vote dan bawa pemain favoritmu ke Top 9!',
  name: 'Nama',
  nationality: 'Kewarganegaraan',
  manifesto: 'Pesan TEAM UP',
  profile: 'Profil',
  share: 'Bagikan',
  ademas: "Vote saya di event PUBG MOBILE TEAM UP!",
  love: 'TEAM UP dengan pemain favoritmu',
  giver2: 'Beri vote setiap hari untuk mendapatkan hadiah!'
} %}

{% set ru = {
  id: 'ID игрока',
  residue: 'Оставшиеся голоса',
  all: 'Все',
  mena: 'страны Ближнего Востока и Северной Африки',
  n_a: 'Северная Америка',
  europe: 'Европа',
  jp: 'Япония',
  korea: 'Корея',
  india: 'Индия',
  thailand: 'Тайланд',
  vietnam: 'Вьетнам',
  indonesia: 'Индонезия',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: 'Выберите 9 лучших игроков в качестве сильнейшей команды PUBG MOBILE!',
  giver: 'Голосуйте ежедневно и выигрывайте награды!',
  vote: 'Голосовать',
  rules: 'Правила',
  presentation: 'Событие разделено на 2 фазы:',
  presentation1: 'Фаза 1: 28.06.2019–15.07.2019',
  presentation2: 'Голосуйте за фаворитов, выбирая из глобального списка топ-100 игроков. Топ-игроки из 9 регионов примут участие в показательном матче во время финала весеннего сплита PMCO 2019.',
  presentation3: 'Завершайте еженедельные миссии, получайте билеты голосования «TEAM UP», переходите на страницу голосования, голосуйте и получайте ящик «TEAM UP».',
  presentation4: '*Рейтинг обновляется еженедельно.',
  presentation5: 'Фаза 2: 16.07.2019–25.07.2019',
  presentation6: 'Голосуйте за фаворитов из списка топ-9 и получайте ящик «TEAM UP» каждый раз. Топ-9 игроков примут участие в лотерее финала весеннего сплита PMCO 2019, награды которой будут отданы фанатам! Следите за обновлениями и подробными разъяснениями правил фазы 2.',
  presentation7: '',
  presentation8: '*Голоса, отправленные через каналы третьих лиц не учитываются.',
  presentation9: '*За PUBG MOBILE остаётся право отзыва предметов, полученных с нарушением правил, а также наложение ответственности на нарушителей.',
  presentation10: 'Дополнительная информация доступна на официальных страницах PUBG MOBILE в Facebook и Twitter.',
  account: 'Учетная запись',
  vote_now: 'Голосовать',
  raid: 'Благодарим за поддержку!',
  mail: 'Ящик «TEAM UP» был отправлен на игровую почту.',
  continue: 'Продолжить',
  gone: 'Нет билетов голосования «TEAM UP». Завершите миссии, чтобы получить больше!',
  share_via: 'Поделиться в',
  support: 'Я проголосовал за {0} в PUBG MOBILE TEAM UP 100!',
  cheer: 'Поддержите своего любимого игрока!',
  you_decide: 'Голосуйте и помогите фавориту войти в топ-9!',
  name: 'Имя',
  nationality: 'Гражданство',
  manifesto: 'Сообщение',
  profile: 'Профиль',
  share: 'Поделиться',
  ademas: "Голосуйте за меня в событии PUBG MOBILE «TEAM UP»!",
  love: 'Ежедневно голосуйте за любимого игрока ',
  giver2: 'в событии «TEAM UP» и получайте награды!'
} %}

{% set HK = {
  id: '玩家ID',
  residue: '剩餘選票數量',
  all: '全部',
  mena: '中東',
  n_a: '北美',
  europe: '歐洲',
  jp: '日本',
  korea: '韓國',
  india: '印度',
  thailand: '泰國',
  vietnam: '越南',
  indonesia: '印尼',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: '全球玩家票選PUBG MOBILE天團，最強9人由你揀！',
  giver: '每日參與投票，豐富獎勵週週送',
  vote: '投票',
  rules: '票選規則',
  presentation: '是次活動時間為：',
  presentation1: '第一期：6月28日至7月15日',
  presentation2: '玩家從全球100人中投票支持心中最佳人選，以每個區域作為一個賽道，選出區域Top1組成PUBG MOBILE最強9人天團，他們將在PMCO 2019春季總決賽上進行表演賽。',
  presentation3: '玩家透過完成每週系列任務獲得TEAM UP投票道具，進入H5頁面投票，完成投票即獲得TEAM UP寶箱。',
  presentation4: '*每週更新排名一次',
  presentation5: '第二期：7月16日至7月25日',
  presentation6: '玩家從最終TOP 9中選擇自己支持的人選，每次投票均可獲得TEAM UP寶箱獎勵，TOP 9還將在PMCO 2019春季總決賽進行現場抽獎，從投票支持的玩家中抽取大獎！（後續將會有2期活動頁面，提供更詳細的遊戲規則）',
  presentation7: '請注意：',
  presentation8: '採取違規手段參與本次活動的點贊數等將不納入最終數據。',
  presentation9: '《PUBG MOBILE》對玩家違規獲得的道具持有追回權利，並將追究相關人士之責任。',
  presentation10: '追蹤《PUBG MOBILE》官方Facebook、Twitter帳戶，了解更多活動資訊。',
  account: '登入帳戶',
  vote_now: '馬上投票',
  raid: '多謝你對我嘅支持，',
  mail: '送你一個TEAM UP寶箱，請喺信箱查收！',
  continue: '繼續投票',
  gone: '你冇哂TEAM UP選票喇，繼續喺遊戲內完成任務收集啦！',
  share_via: '請選擇分享方式',
  support: '我喺PUBG MOBILE TEAM UP 100中支持咗{0}！',
  cheer: '你都嚟為你鍾意嘅選手打氣啦！',
  you_decide: '為你鍾意嘅選手投票，最後TOP9由你決定！',
  name: '姓名',
  nationality: '國籍',
  manifesto: 'TEAM UP 宣言',
  profile: '個人簡介',
  share: '分享',
  ademas: "請去「PUBG MOBILE」參與TEAM UP活動幫我投票啦！",
  love: '與心水選手TEAM UP',
  giver2: '每日參與投票，豐富獎勵週週送！'
} %}

{% set ar = {
  id: 'مُعرّف اللاعب',
  residue: 'الأصوات المتروكة',
  all: 'الجميع',
  mena: 'الشرق الأوسط وشمال أفريقيا',
  n_a: 'أميركا الشمالية',
  europe: 'أوروبا',
  jp: 'اليابان',
  korea: 'كوريا',
  india: 'الهند',
  thailand: 'تايلاند',
  vietnam: 'فيتنام',
  indonesia: 'إندونيسيا',
  title: 'PUBG MOBILE الفريق 100',
  pick: 'اختر أفضل 9 لاعبين لفريق PUBG MOBILE النهائي!',
  giver: 'قم بالتصويت يوميا للحصول على مكافآتل!',
  vote: 'التصويت',
  rules: 'القواعد',
  presentation: 'هذا الحدث له مرحلتان:',
  presentation1: 'المرحلة 1: 28 يونيو 2019-15 يوليو 2019',
  presentation2: 'اختر العناصر المفضلة لديك من قائمة أفضل 100 لاعب عالميًا. وسوف يتعاون اللاعب الأفضل من كل منطقة من المناطق التسعة في مباراة ودية خلال نهائيات مجموعة الربيع من PMCO  2019.',
  presentation3: 'أكمل المهمات الأسبوعية للحصول على تذاكر الفريق للتصويت، ثم أدخل الصفحة للإدلاء بصوتك والحصول على صندوق الفريق.',
  presentation4: 'يتم تحديث التصنيف كل أسبوع.',
  presentation5: 'المرحلة 1:المرحلة 2: 16 يوليو 2019 - 25 يوليو 2019',
  presentation6: 'قم بالتصويت لأفضل لاعب بالنسبة إليك من بين اللاعبين التسعة واحصل على صندوق تكوين الفرق كل مرة. سوف يُجرى سحب أيضًا للاعبين التسعة في نهائيات مجموعة الربيع من PMCO  2019 لتوزيع المكافآت على معجبيهم! الرجاء متابعتنا للمزيد من المعلومات حول المرحلة 2 والقواعد.',
  presentation7: '',
  presentation8: 'لن تحتسب الأصوات المدلى بها عبر قنوات غير صالحة.',
  presentation9: 'تحتفظ PUBG MOBILE بالحق في إلغاء العناصر التي تم الحصول عليها أثناء انتهاك قواعد الحدث والحق في تحميل المخالفين المسؤولية.',
  presentation10: 'تابع PUBG MOBILE على فيسبوك وتويتر لمزيد من المعلومات.',
  account: 'الحساب',
  vote_now: 'صوّت الآن',
  raid: 'نشكرك على دعمك!',
  mail: 'لقد تم إرسال صندوق الفريق إلى علبة بريدك في اللعبة.',
  continue: 'استمرار',
  gone: 'ليس هناك تذاكر لتصويت الفريق. اكمل المهام للحصول على المزيد!',
  share_via: 'مشاركة عبر',
  support: 'لقد صوت على {0} في الفريق 100 في PUBG MOBILE!',
  cheer: 'تعال وادعم لاعبك المفضل!',
  you_decide: 'قم بالتصويت وارسل لاعبك المفضل إلى مجموعة أفضل 9!',
  name: 'صوّت الآن',
  nationality: 'الجنسية',
  manifesto: 'رسالة الفريق',
  profile: 'الملف الشخصي',
  share: 'المشاركة',
  ademas: "قم بالتصويت علي في حدث تكوين فريق في PUBG MOBILE!",
  love: 'كوِّن فريقًا مع لاعبك المفضل',
  giver2: 'قم بالتصويت يوميًا لربح المكافآت!'
} %}

{% set ko = {
  id: '유저 ID',
  residue: '남은 투표권 수량',
  all: '전체',
  mena: '중동',
  n_a: '북미',
  europe: '유럽',
  jp: '일본',
  korea: '한국',
  india: '인도',
  thailand: '태국',
  vietnam: '베트남',
  indonesia: '인도네시아',
  title: 'PUBG MOBILE Team Up 100',
  pick: '글로벌 유저가 배틀그라운드 모바일 팀을 투표합니다! 최강의 9인을 Pick 하세요!',
  giver: '매일 투표에 참여하고, 매주 푸짐한 보상을 받으세요!',
  vote: '투표',
  rules: '투표 규칙',
  presentation: '해당 이벤트는 2차로 나누어 진행됩니다.',
  presentation1: '1차 이벤트: 6월 28일~7월 15일 ',
  presentation2: '플레이어는 전 세계 100명의 후보 중 마음에 드는 후보에게 투표할 수 있으며 매 지역은 하나의 별도 투표 지역으로 구분되게 되며 각 지역에서 선출된 Top1은 9인의 최강 배틀그라운드 모바일팀으로 구성되어 앞으로 진행될 PMCO 2019에서 이벤트 매치를 진행하게 됩니다.',
  presentation3: '플레이어는 주간 미션 완료를 통해 TEAM UP 투표권을 획득할 수 있고 투표 페이지를 통해 투표를 진행할 수 있으며 투표 즉시 TEAM UP 상자를 얻을 수 있습니다.',
  presentation4: '*관련 순위는 주 1회 갱신됩니다.',
  presentation5: '2차 이벤트: 7월 16일~7월 25일 ',
  presentation6: '플레이어는 최종 선택된 TOP9 중에서 자신이 제일 좋아하는 후보를 선택합니다. 매회 투표 시마다 TEAM UP 상자 보상을 얻을 수 있습니다.그리고 앞으로 진행될 PMCO 2019 스프링 결승전 현장에서 TOP9에게 투표해준 유저 중 추첨을 통해 푸짐한 경품을 드립니다! (관련 이벤트에 대한 자세한 규정은 차후 2차 투표 페이지에서 확인하실 수 있습니다.)',
  presentation7: '비정상적인 방법으로 이벤트에 참여한 경우, 최종 투표 데이터에서 제외됩니다.',
  presentation8: '배틀그라운드 모바일에서는 비정상적인 방법으로 획득한 아이템을 회수할 수 있는 권리를 가지고 있으며, 관련된 자에게 책임을 물을 수 있습니다.',
  presentation9: '배틀그라운드 모바일 공식카페, 페이스북에서 이벤트와 관련된 더 자세한 정보를 얻을 수 있습니다.',
  presentation10: '',
  account: '로그인하기',
  vote_now: '지금 투표하기',
  raid: '투표해주셔서 감사합니다!',
  mail: 'Team Up 상자를 보내드립니다. 우편함을 확인하세요.',
  continue: '계속 투표하기',
  gone: '투표권이 없습니다. 게임 내에서 미션을 완료하여 투표권을 획득하세요!',
  share_via: '공유 방식을 선택하세요.',
  support: '배틀그라운드 모바일 Team Up 100 에서 XXXXX를 응원합니다!',
  cheer: '어서 와서 좋아하는 선수에게 투표하세요!',
  you_decide: '마음에 드는 후보에게 투표하세요! 최종 TOP 9은 당신의 선택에 달렸습니다!',
  name: '이름',
  nationality: '국적',
  manifesto: 'Team Up 선언',
  profile: '자기소개',
  share: '공유하기',
  ademas: '배틀그라운드 모바일에 TEAM UP이벤트에 참여하여 투표해주세요!',
  love: '당신의 최고 선수와 함께 TEAM UP',
  giver2: '매일 투표에 참여하여 매 주마다 풍성한 보상 받으세요!'
} %}

{% set jp = {
  id: 'ユーザーID',
  residue: '残りのTEAM UP投票チケット数',
  all: '全体地域',
  mena: '中東',
  n_a: '北米',
  europe: 'ヨーロッパ',
  jp: '日本',
  korea: '韓国',
  india: 'インド',
  thailand: 'タイ',
  vietnam: 'ベトナム',
  indonesia: 'インドネシア',
  title: 'PUBG MOBILE TEAM UP 100',
  pick: '全世界のPUBG MOBILEプレイヤーからスターチームのメンバーを選出！スターチームの９人を選ぶのはあなたです！',
  giver: '投票に参加し、豊富な報酬をGETしよう!',
  vote: '投票',
  rules: '投票ルール',
  presentation: '本イベントは2回に分けて開催します：',
  
  presentation1: '第1弾：6月28日～7月15日',
  presentation2: '全世界、100名のスターチーム候補の中から好きなプレイヤーに投票することができます。投票は地域別になっており、最終的に各地域の1位が地域代表としてPUBG MOBILEスターチームに参加していただきます。PMCO 2019スプリングファイルでエキシビジョンマッチに出場していただく予定です。ユーザーが毎週、イベントを達成することでTEAM UP投票チケットを獲得できます。専用ページから投票することで、TEAM UPクレートを獲得できます。',
  presentation3: '*ランキングは週に1回更新されます。',
  presentation4: '第2弾：7月16日～7月25日',
  presentation5: '最終的にTOP9位の中から自分の好きなメンバーに投票していただきます。投票する度にTEAM UPクレートを獲得できます。また、9人メンバーがPMCO 2019スプリングファイルの舞台で抽選を行い、投票に参加したユーザーへプレゼントを行います！(後日、第2弾のイベントページで更に詳しい説明を公開します。)',
  presentation6: '不正、不当な手段で投票が行われた場合、該当の投票は最終のデータに反映されません。',
  presentation7: 'PUBG MOBILEはユーザーが不正な手段で獲得したアイテムを回収し、該当ユーザーに罰則を与える権利があります。',
  presentation8: '最新のイベント情報はPUBG MOBILEの公式Twitterをフォローしてチェックしましょう!',
  presentation9: '',
  presentation10: '',

  account: 'ログインアカウント',
  vote_now: '今すぐ投票',
  raid: '投票ありがとうございます。',
  mail: 'TEAM UPクレートをプレゼントいたします。システムメールをご確認ください。',
  continue: '続けて投票',
  gone: '投票チケットが無くなりました。',
  share_via: 'シェア方法を選択してください。',
  support: '私はPUBG MOBILE TEAM UP100人の中でXXXXXさんに投票しました。',
  cheer: 'あなたも好きなメンバーに投票しましょう！',
  you_decide: '好きなメンバーに投票しましょう！選出される9人はあなた次第です!',
  name: '名前',
  nationality: '国籍',
  manifesto: 'TEAM UP意気込み',
  profile: '自己紹介',
  share: 'シェア',
  ademas: 'PUBG MOBILEのTEAM UPイベントに参加して投票を行いましょう！',
  love: 'あなたが好きなプレイヤーを応援しましょう！',
  giver2: '投票に毎日参加して、豊富な報酬をGETしよう！'
} %}





