@charset "UTF-8";
// 标题
.title-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}
.title-main {
  // position: absolute;
  // top: 0;
  // left: 0;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 0;
  width: 100%;
  line-height: 1;
  overflow: hidden;
  z-index: 999;
  // transition: top 0.25s;
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.98;
    padding: 60px 0 60px;
    z-index: 999;
    // // transform: translateX(-50%);
    // img {
    //   opacity: 0.96;
    // }
    // .title-heading {

    //   opacity: 0.96;
    //   color:rgba($color: #262626, $alpha: 0.5);
    // }
    // .title-text {

    //   opacity: 0.96;
    //   color:rgba($color: #666666, $alpha: 0.5);
    // }
  }
}

// 标题logo
.title-logo {
  height: 30px;
  font-size: 0;
  transition: all 0.75s cubic-bezier(0.21, 0.79, 0.65, 0.99);
  opacity: 0;
  img {
    margin: 0 auto;
    display: block;
    height: 100%;
  }
}

// 大标题
.title-heading {
  color: #262626;
  font-size: 66px;
  font-family: W6, $defaultFont;
  margin: 40px 0 55px 0;
  font-weight: bold;
  transition: all 0.75s cubic-bezier(0.21, 0.79, 0.65, 0.99);
  opacity: 0;
}

// 小标题
.title-text {
  width: 960px;
  margin: 0 auto;
  color: #666666;
  font-size: 26px;
  white-space: pre-line;
  font-family: W4, $defaultFont;
  line-height: 1.73;
  transition: all 0.75s cubic-bezier(0.21, 0.79, 0.65, 0.99);
  opacity: 0;
}

@media (max-width: 1600px) {
  //$rate: 1600 / 1920;
  $zoom: 0.833;

  // 标题logo
  .title-logo {
    height: round(30px * $zoom);
  }

  // 大标题
  .title-heading {
    font-size: round(66px * $zoom);
    margin: round(40px * $zoom) 0 round(55px * $zoom) 0;
  }

  // 小标题
  .title-text {
    width: round(960px * $zoom);
    font-size: round(26px * $zoom);
  }
  .title-main {
    padding: round(60px * $zoom) 0 0;
    &.fixed {
      padding: round(60px * $zoom) 0 round(60px * $zoom);
    }
  }
}

@media (max-width: 1440px) {
  //$rate: 1440 / 1920;
  $zoom: 0.75;

  // 标题logo
  .title-logo {
    height: round(30px * $zoom);
  }

  // 大标题
  .title-heading {
    font-size: round(66px * $zoom);
    margin: round(40px * $zoom) 0 round(55px * $zoom) 0;
  }

  // 小标题
  .title-text {
    width: round(960px * $zoom);
    font-size: round(26px * $zoom);
  }
  .title-main {
    padding: round(60px * $zoom) 0 0;
    &.fixed {
      padding: round(60px * $zoom) 0 round(60px * $zoom);
    }
  }
}

@media (max-width: 1200px) {
  //$rate: 1200 / 1920;
  $zoom: 0.625;

  // 标题logo
  .title-logo {
    height: round(30px * $zoom);
  }

  // 大标题
  .title-heading {
    font-size: round(66px * $zoom);
    margin: round(40px * $zoom) 0 round(55px * $zoom) 0;
  }

  // 小标题
  .title-text {
    width: round(960px * $zoom);
    font-size: round(26px * $zoom);
  }
}

@media (max-width: 992px) {
  //$rate: 992 / 1920;
  $zoom: 0.517;

  // 标题logo
  .title-logo {
    height: round(30px * $zoom);
  }

  // 大标题
  .title-heading {
    font-size: round(66px * $zoom);
    margin: round(40px * $zoom) 0 round(55px * $zoom) 0;
  }

  // 小标题
  .title-text {
    width: round(960px * $zoom);
    font-size: round(26px * $zoom);
  }
  .title-main {
    padding: round(60px * $zoom) 0 0;
    &.fixed {
      padding: round(60px * $zoom) 0 round(60px * $zoom);
    }
  }
}

@media (max-width: 768px) {
  //$rate: 768 / 1920;
  $zoom: 0.4;

  // 标题logo
  .title-logo {
    height: round(30px * $zoom);
  }

  // 大标题
  .title-heading {
    font-size: 30px;
    margin: round(40px * $zoom) 0 round(55px * $zoom) 0;
  }

  // 小标题
  .title-text {
    width: 305px;
    font-size: 13px;
    // padding: 0 20px;
  }
  .title-main {
    padding: 55px 0 0;
    &.fixed {
      padding: round(60px * $zoom) 0 round(60px * $zoom);
    }
  }
}
