{% extends "./_njk/base.njk" %}

{% block main %}
<section class="wrap">
  <!-- 头图 -->
  <div class="page_hade_wrap">
    <img src="./img/test_hade_bg.jpg" alt="" class="page_test_img">
  </div>
  <!-- 文字折叠部分 -->
  <div class="page_content_wrap">
    <div class="page_content_decorate"></div>
    <div class="page_content_inner">
      <div class="content_bg head_bg"></div>
      <div class="page_content_text">
        <div class="content_text">
          <p>在这个特殊的2020，我们一边憧憬着更理想的生活，一边用自己的努力在不断向理想靠近。那份深藏内心的坚定，是我们始终如一，不断前行的底气。</p>
          <p>在“1起挺你，尽情生活”的主题下，天猫为2020年双11量身定制的主题曲——全民打气歌《1起挺你》，由代言人易烊千玺主唱。这首歌所唱响的，不仅是天猫双11全球狂欢节的如约到来，也展现着天猫品牌与消费者的浓厚情感联结——天猫始终与全民站在一起，为每个人所追求的理想生活打气。</p>
          <p>歌曲从前奏到副歌，都蕴含着每个人的力量和坚持，全程高燃的旋律，是对每个消费者炙热期望的鼓舞。「1起挺你，尽情生活」——天猫希望陪伴和支持所有消费者，和他们站在一起，去挺每个消费者的日常，更挺每个人对理想生活的追求！ </p>
        </div>
        <div class="content_text_more">
          <div class="more_text">点击查看更多</div>
          <div class="more_icon">
            <div class="more_icon_img"></div>
          </div>
        </div>
      </div>
      <div class="content_bg base_bg"></div>
    </div>
  </div>
  <!-- 底图 -->
  <div class="page_base_wrap">
    <img src="./img/test_base_bg.jpg" alt="" class="page_test_img">
  </div>
</section>
{% endblock %}


{% block javascript %}
<script src="./js/zepto.min.js"></script>
<script src="./js/index.js"></script>
{% endblock %}